<div id="adminView">

  <div class="container">
    <div class="row">
      <div class="offset-by-one ten columns">

      <h2 class="admin-headline">MakerHunt Admin Interface</h2>

        <h4>{{action}} AMA</h4>

        <form>
          <div class="row">
            <div class="six columns">
              <label for="username">Username</label>
              <input class="u-full-width" type="text" placeholder="username (no @)" id="username" ng-model="newEvent.username">
            </div>
            <div class="six columns">
              <input class="button-default btn-search" type="submit" value="Search for User" ng-click="searchForUser();">
            </div>
            <div class="twelve columns">
              <label for="event-date">AMA Date (local time)</label>
              <input class="u-full-width input--event-date" type="datetime-local" placeholder="username (no @)" id="event-date" ng-model="newEvent.datetime">
            </div>
          </div>
          <label for="description">Description</label>
          <textarea class="u-full-width" placeholder="will be pre-filled from twitter bio, but can be changed..." id="description" ng-model="newEvent.description"></textarea>
          <input class="button-primary" type="submit" value="Save" ng-click="saveEvent();">
        </form>


      </div>

      <!-- AMA LIST START -->

      <div class="amaList">

        <div class="ama-wrapper" ng-repeat="ama in events">

          <div class="row">
            <div class="six columns">
              <h5 class="ama--timestamp">Mar 10, 2015 at 9:00PM CET</h5>
            </div>
            <div class="six columns">

              <button class="btn-default" ng-click="editEvent(ama);">Edit</button>
              <button class="btn-warning" ng-click="deleteEvent(ama);">Delete</button>

            </div>
          </div>


          <div class="ama">

            <div class="row">
              <div class="twelve columns">

                <!--<div class="ama--pic--wrapper">-->
                <img class="u-max-full-width ama--pic" ng-src="{{ama.ph_profile.image_url}}" alt="@{{ama.username}}"/>
                <!--</div>
                <div class="ama--content--wrapper">-->

                <h2 class="ama--maker-name">{{ama.ph_profile.name}} <small class="ama--maker-username"><a ng-href="https://twitter.com/{{ama.username}}" target="_blank">@{{ama.username}}</a></small></h2>

                <p class="ama--description">{{ama.ph_profile.headline}}</p>


                <!--</div>-->
                <div class="maker-of--wrapper">
                  <h6 class="ama--maker-headline" ng-show="ama.ph_profile.maker_of.length">Maker</h6>
                  <ul class="maker-of-list">
                    <li class="maker-of-list--item" ng-repeat="product in ama.ph_profile.maker_of">
                      <a ng-href="{{product.discussion_url}}">{{product.name}}</a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>

          </div>




        </div>

      </div>

      <!-- AMA LIST END -->

    </div>
  </div>

</div>
