.ui_post {
  padding: 12px;
  //border-bottom: 1px solid #f4f4f4;
  margin-top: 15px;
  position: relative;

  .ui_post-head {
    width: 100%;
    display: block;

    .meta-who-did-what {
      width: 80%;
      display: inline-block;
      vertical-align: top;
      position: relative;
      overflow: visible;

      .user-detail-card {
        position: absolute;
        right: calc(100% + 15px);
        width: 0;
        margin-right: 0;
        min-height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        color: #FFFFFF;
        top: 0;
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        -ms-transition: all 300ms;
        -o-transition: all 300ms;
        transition: all 300ms;
        box-shadow: none;
        -webkit-box-shadow: none;
        z-index: 100;
        overflow: hidden;
        border-radius: 2px;

        .detail-wrapper {
          position: absolute;
          top: 118px;
          width: 80%;

          .name-wrapper {
            display: table;
            padding: 2px 18px;
            background: rgba(0, 0, 0, 0.3);
            margin: 5px 0;
            text-align: center;
            max-width: 80%;
            border-radius: 0 2px 2px 0;
            .userName {
              font-size: 18px;
              margin: 0;
              font-weight: 300;
              white-space: nowrap;
            }
          }

          .badge-wrapper {
            background: rgba(65,170,120,.8);
            margin-top: 2px;
            width: auto;
            position: relative;
            white-space: nowrap;
            padding: 0 15px 0 5px;
            display: table;

            .badgeItemName {
              font-size: 12px;

              a{
                color: #fff!important;
                text-decoration: none!important;
                line-height: 20px;
                font-weight: 300;
              }

              .makerBadge {
                position: absolute;
                font-size: inherit;
                margin-right: -10px;
                background: rgba(65, 170, 120, 1);
                border-radius: 50%;
                height: 20px;
                width: 20px;
                line-height: 20px;
                text-align: center;
                right: 0;
                font-weight: 400;
              }
            }
          }
        }
      }



      .user-pic {
        width: 40px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
      }

      .who-did-what {
        margin: 0;
        display: inline-block;
        vertical-align: top;
        font-weight: 300;

        .who {
          padding-left: 10px;
          font-weight: 700;
          cursor: pointer;
        }

        .what{
          font-weight: 700;
          cursor: pointer;
          a{
            color: inherit;
            text-decoration: none;
          }
        }
      }

    }

    .meta-timestamp {
      width: calc(20% - 3px);
      display: inline-block;
      vertical-align: top;
      line-height: 40px;
      text-align: right;
      font-size: 12px;
      color: rgba(0,0,0,0.5);
      a{
        color: inherit;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
      .timestamp {
        margin: 0;
        vertical-align: top;
        line-height: 24px;
        display: inline;
      }
    }
  }

  .ui_post-body {
    width: 100%;

    .status-wrapper {
      width: 100%;
      //margin-top: 10px;

      .quote-icon-wrapper {
        width: 40px;
        display: inline-block;
        vertical-align: middle;
        color: rgba(0,0,0,0.1);
        .quote {
          margin: 0;
        }
      }

      .status-message {
        width: calc(100% - 43px);
        display: inline-block;
        vertical-align: middle;

        p {
          padding-left: 10px;
          //font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          //text-align: justify;
          margin: 0;
          white-space: pre-wrap;

          a {
            white-space: nowrap;
          }

        }
      }


    }

    .external-content-wrapper {
      margin-left: 50px;
      display: block;
      text-decoration: none;
      color: #27313b;
      overflow: hidden;
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-radius: 2px;
      margin-top: 10px;
      cursor: pointer;
      min-height: 150px;
      margin-bottom: 20px;

      .text-wrapper {
        width: 66%;
        padding: 12px;
        display: inline-block;
        vertical-align: top;
        float: left;

        .source-wrapper {
          position: absolute;
          bottom: 12px;
          left: 12px;
          font-size: 12px;
          font-weight: 400;
          vertical-align: middle;
          line-height: 1;
          color: #ccc;

          .sourceImg {
            height: 14px;
            width: 14px;
            margin-right: 2px;
            border-radius: 2px;
            vertical-align: middle;
          }
          .sourceUrl {
            vertical-align: middle;
          }
        }

        .external-content-headline {
          font-size: 16px;
          font-weight: 400;
          display: inline;
          line-height: 1.1;
          vertical-align: top;
          color: inherit;
          cursor: pointer;
        }
        .event-info--headline:hover{
          text-decoration: underline;
        }

        .external-content-snippet {
          font-size: 12px;
          opacity: 0.7;
          line-height: 1.4;
        }

      }

      .img-wrapper {
        display: inline-block;
        width: 33%;
        vertical-align: top;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        border-radius: 0 2px 2px 0;

        .card-image{
          height: 100%;
          width: 100%;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }
  }

  .ui_post-footer {
    border-top: 1px solid #f4f4f4;
    padding-top: 10px;
    margin-left: -12px;
    margin-right: -12px;
    padding: 10px 12px 0;
    margin-top: 20px;

    .user-actions-wrapper {
      display: inline-block;
      vertical-align: top;
      -webkit-transition: opacity 300ms;
      -moz-transition: opacity 300ms;
      -ms-transition: opacity 300ms;
      -o-transition: opacity 300ms;
      transition: opacity 300ms;
      position: absolute;
      right: 10px;

      .action-edit {
        margin: 0;
        padding: 10px;
        line-height: 1;
        height: auto;
        border: none;
        font-size: 14px;
      }

      .action-delete {
        margin: 0;
        padding: 10px;
        line-height: 1;
        height: auto;
        border: none;
        font-size: 14px;
      }


    }

    .actions-wrapper {
      display: inline-block;

      .action-like {
        margin: 0;
        line-height: 1;
        font-size: 12px;
        color: #41aa78;
        padding: 0 9px;
        border-radius: 500px;
        margin-right: 5px;
        font-weight: 400;
        max-height: 34px;
        min-width: 34px;
        border: 1px solid rgba(65, 170, 120, 0.4);
        position: relative;
        vertical-align: top;
        &:focus,&:active{
          color: #41aa78;
          .heart {
            display: initial;
          }
        }
        &:hover{
          border: 1px solid rgba(65, 170, 120, 0.9);
          .heart {
            display: initial;
          }
        }
        .fa{
          width: 12px;
          line-height: 34px;
        }
      }

      .comment-toggle {
        margin: 0;
        padding: 10px;
        line-height: 1;
        height: auto;
        font-size: 12px;
        border-radius: 500px;
        font-weight: 400;
        text-transform: none;
        .fa{
          font-size: 14px;
          line-height: 10px;
        }
      }
    }
  }
}
.ui_post:last-child{
  border-bottom: 1px solid transparent;
}
.ui_post:hover{
  .ui_post-footer{
    .user-actions-wrapper{
      opacity: 1;
    }
  }
}



///DESKTOP

@media (min-width: 1200px){
  .ui_post{
    .ui_post-footer{
      .user-actions-wrapper{
        opacity: 0;
      }
    }
  }
}
