<div class="ui_post timeline-item ui_card animated fadeIn" ng-if="post.user">

  <div class="ui_post-head timeline-item--meta">

    <div class="meta-who-did-what">

      <img ng-src="{{post.user.image_url['88px']}}" class="user-pic" ng-click="openUserDetails(post.post_id);"/>
      <p class="who-did-what">
        <span class="who" ng-click="openUserDetails(post.post_id);">{{post.user.name}}</span>
        <span class="did"><span ng-if="!post.cards[0]">posted</span><span ng-if="post.cards[0]">shared</span></span>
                  <span class="what">
                    <a ng-href="/@{{ post.user.username }}/{{ post.post_id }}">
                      a<span ng-if="post.cards[0].type==='article' || !post.cards[0]">n</span> <span ng-if="post.cards[0]">{{post.cards[0].type || 'link'}}</span><span ng-if="!post.cards[0]">update</span>
                    </a>
                  </span>.
      </p>

      <div id="{{post.post_id}}" class="ui_user-card-wrapper">


        <div class="user-card--nav-column">

          <div class="user-card--nav-item" ng-class="{'active' : userDetailState==='profile'}" ng-click="userDetailState='profile'">
            <i class="fa fa-user"></i>
            <span>Profile</span>
          </div>
          <div class="user-card--nav-item" ng-class="{'active' : userDetailState==='products'}" ng-click="userDetailState='products'">
            <span class="PH-logo">P</span>
            <span>Products</span>
          </div>
          <div class="user-card--nav-item hidden" ng-class="{'active' : userDetailState==='skills'}">
            <i class="fa fa-folder-open"></i>
            <span>Skills</span>
          </div>

        </div>

        <div class="user-card--content-column">

          <div class="close-wrapper" ng-click="closeUserDetails(post.post_id)">
            <i class="fa fa-times"></i>
          </div>
          <div class="user-card--content-background" style="background-image: url('{{post.user.twitter_profile.profile_banner_url}}');"></div>
          <div class="profile-content-wrapper" ng-class="{'is-content' : userDetailState==='profile'}">
            <div class="user-card--image-wrapper">
              <div class="user-badge user-badge--maker user-badge--large">M</div>
              <img ng-src="{{post.user.image_url['88px']}}" alt="" class="user-card--img"/>
            </div>
            <div class="user-card--name-wrapper">
              <h4 class="user-card--name">{{post.user.name}}</h4>
              <h5 class="user-card--username">@{{post.user.username}}</h5>
            </div>
          </div>
          <div class="products-content-wrapper" ng-class="{'is-content' : userDetailState==='products'}">

            <div class="user-card-products-wrapper">
              <h4 class="user-card-products--maker-of">Maker of</h4>
              <ul class="user-card-products--product-list">
                <li class="user-card-products--list-item" ng-repeat="product in post.user.ph_profile.maker_of">
                  test
                </li>
              </ul>
            </div>

          </div>
          <div class="user-card--meta-wrapper">

            <div class="coming-soon-overlay coming-soon">
              coming soon
            </div>
            <div class="user-card--meta--item is-disabled">
              <span class="numbers">0</span>
              <span>posts</span>
            </div>
            <div class="user-card--meta--item is-disabled">
              <span class="numbers">0</span>
              <span>followers</span>
            </div>
            <div class="user-card--meta--item is-disabled">
              <i class="fa fa-comment-o"></i>
              <span>message</span>
            </div>
            <div class="user-card--meta--item is-disabled">
              <i class="fa fa-plus-circle"></i>
              <span>follow</span>
            </div>


          </div>


        </div>


      </div>

    </div>
    <div class="meta-timestamp">
      <a ng-href="/@{{ post.user.username }}/{{ post.post_id }}">
        <p class="timestamp" am-time-ago="post.created_at"></p>
      </a>
    </div>

  </div>

  <div class="ui_post-body timeline-item--content">

    <div class="status-wrapper">

      <div class="quote-icon-wrapper">

        <h4 class="quote" ng-switch="post.via.provider">
          <i class="fa fa-twitter" ng-switch-when="twitter"></i>
          <i class="fa fa-slack" ng-switch-when="slack"></i>
          <i class="fa fa-pencil" ng-switch-when="direct"></i>
        </h4>
      </div>

      <div class="status-message" ng-bind-html="post.status | twemoji | nl2p">
      </div>

    </div>

    <div class="external-content-wrapper" ng-repeat="card in post.cards" ng-click="goExternal(card.url)">
      <div class="text-wrapper">
        <a class="external-content-headline" ng-bind-html="card.headline | twemoji">
        </a>
        <p class="external-content-snippet" ng-bind-html="card.text | twemoji">
        </p>

        <div class="product-card-specials" ng-if="card.type==='product'">

          <button class="product-upvote">
            <span class="product-upvote--arrow"></span>
            <span class="product-upvote--count">95</span>
          </button>

          <button class="product-maker" ng-repeat="maker in [1, 2]">
            <div class="maker-name">Jonas Daniels</div>
            <img ng-src="https://pbs.twimg.com/profile_images/583567395161268224/ZRqzE0zf.jpg" alt="" class="maker-image"/>
          </button>

        </div>

        <div class="source-wrapper">
          <img ng-src="{{card.icon}}" alt="" class="sourceImg"/>
          <span class="sourceUrl">· {{card.url | rootDomain}}</span>
        </div>

      </div>
      <div class="img-wrapper">
        <div class="card-image" style="background-image: url('{{card.img}}');"></div>
      </div>

    </div>

  </div>

  <div class="ui_post-footer timeline-item--actions">
    <div class="actions-wrapper">
      <button class="action-like" ng-click="like(post);"><i class="fa" ng-class="{'fa-heart-o': !hasLiked(post), 'fa-heart': hasLiked(post) }"></i><span ng-if="post.liked_by.length > 0">&nbsp;{{post.liked_by.length}}</span>

        <div class="hearts-animations">
          <div class="heart"><i class="fa fa-heart"></i></div>
          <div class="heart"><i class="fa fa-heart"></i></div>
          <div class="heart"><i class="fa fa-heart"></i></div>
        </div>

      </button>
      <button class="comment-toggle" ng-click="openComments(post); $event.stopPropagation();"><i class="fa fa-comments-o"></i> <span ng-if="post.comments.length > 0">{{post.comments.length}} </span> Comment<span ng-hide="post.comments.length === 1">s</span></button>
    </div>

    <div class="user-actions-wrapper">
      <button class="action-link hidden" ng-href="/@{{ post.user.username }}/{{ post.post_id }}"><i class="fa fa-link"></i></button>
      <button class="action-edit" ng-show="canEdit(post)" ng-click="edit(post)"><i class="fa fa-pencil"></i></button>
      <button class="action-delete" ng-show="canDelete(post)" ng-click="delete(post)"><i class="fa fa-trash-o"></i></button>
    </div>

  </div>

  <div class="ui_comments-container ui_card popup" ng-class="{'comments-open': isCommentsPost(post)}" ng-controller="CommentsCtrl">


    <div class="comment-wrapper hidden" ng-if="post.comments.length == 0">
      <p class="be-first-to-comment">write the first comment</p>
    </div>

    <div mh-comment comment="comment" ng-repeat="comment in post.comments | orderBy:sortComments:false">
      <div class="img-wrapper">
        <img ng-src="{{comment.user.image_url['88px']}}" alt="" class="user-img"/>
      </div>
      <div class="comment-meta">
        <h5 class="user-name" ng-bind="comment.user.name"></h5>
        <h6 class="user-userName">@{{ comment.user.username }}</h6>
        <div class="timestamp hidden" am-time-ago="comment.created_at"></div>
      </div>
      <div class="comment-actions-wrapper">
        <button class="action-delete" ng-show="canDelete(comment)" ng-click="delete(comment)"><i class="fa fa-trash-o"></i></button>
      </div>
      <div class="comment-status-wrapper" ng-bind-html="comment.body | twemoji | nl2p">

      </div>
    </div>

    <div class="newComment-wrapper">

      <div class="newComment-img-wrapper">
        <img ng-src="{{user.image_url['88px']}}" alt="" class="newComment-user-img"/>
      </div>
      <div class="newComment-comment-wrapper" ng-controller="CommentCtrl">
        <form name="form" ng-submit="submit(form)" novalidate>
          <textarea msd-elastic name="body" ng-model="comment.body" placeholder="Write a comment..." class="textarea-autogrow newComment" type="text" required></textarea>
          <!--<span class="error-txt" ng-show="form.body.$error.required && !form.$pristine">Common', don't you have anything to share?</span>-->
          <button id="newComment-submit" class="newComment-postBtn" ng-class="{'is-disabled' : form.$invalid}" type='submit' ng-disabled='form.$invalid'>Post</button>
        </form>
      </div>

    </div>


  </div>

</div>
