
  <div class="user-card--nav-column">

    <div class="user-card--nav-item" ng-class="{'active' : userDetailState==='profile'}" ng-click="userDetailState='profile'">
      <i class="fa fa-user"></i>
      <span>Profile</span>
    </div>
    <div class="user-card--nav-item" ng-class="{'active' : userDetailState==='products'}" ng-click="userDetailState='products'">
      <span class="PH-logo">P</span>
      <span>Products</span>
    </div>
    <div class="user-card--nav-item hidden" ng-class="{'active' : userDetailState==='skills'}">
      <i class="fa fa-folder-open"></i>
      <span>Skills</span>
    </div>

  </div>

  <div class="user-card--content-column">

    <div class="close-wrapper" ng-click="closeUserDetails()">
      <i class="fa fa-times"></i>
    </div>
    <div class="user-card--content-background" style="background-image: url('{{user.twitter_profile.profile_banner_url}}');"></div>
    <div class="profile-content-wrapper" ng-class="{'is-content' : userDetailState==='profile'}">
      <div class="user-card--image-wrapper">
        <div class="user-badge user-badge--maker user-badge--large">M</div>
        <img ng-src="{{user.image_url['88px']}}" alt="" class="user-card--img"/>
      </div>
      <div class="user-card--name-wrapper">
        <h4 class="user-card--name">{{user.name}}</h4>
        <h5 class="user-card--username">@{{user.username}}</h5>
      </div>
    </div>
    <div class="products-content-wrapper" ng-class="{'is-content' : userDetailState==='products'}">

      <div class="user-card-products-wrapper">
        <h4 class="user-card-products--maker-of">Maker of</h4>
        <ul class="user-card-products--product-list">
          <li class="user-card-products--list-item" ng-repeat="product in user.ph_settings.maker_of">
            <a target="_blank" ng-href="product.discussion_url" class="maker-of-url">{{product.name}}</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="user-card--meta-wrapper">

      <div class="coming-soon-overlay coming-soon">
        coming soon
      </div>
      <div class="user-card--meta--item is-disabled">
        <span class="numbers">0</span>
        <span>posts</span>
      </div>
      <div class="user-card--meta--item is-disabled">
        <span class="numbers">0</span>
        <span>followers</span>
      </div>
      <div class="user-card--meta--item is-disabled">
        <i class="fa fa-comment-o"></i>
        <span>message</span>
      </div>
      <div class="user-card--meta--item is-disabled">
        <i class="fa fa-plus-circle"></i>
        <span>follow</span>
      </div>


    </div>


  </div>
