<div ng-switch="response.status">
<div class="modal" ng-switch-when="success">

  <div class="modal-img--wrapper">
    <img class="modal-user--pic" ng-src="{{response.user.imgURI}}" alt="{{response.user.username}}"/>
    <div class="modal-makerBadge" ng-show="response.isMaker">M</div>
  </div>

  <h2 class="modal-headline">Hey {{response.user.firstName}},</h2>

  <p class="modal-message" ng-show="response.isMaker">If the email adress below is correct, click to request your invite. If not, click to change it.</p>
  <p class="modal-message" ng-show="!response.isMaker">It seems like you don't have a product on ProductHunt yet. You can still sign up for our newsletter below.</p>

  <input class="modal-input" type="email" value="thecat@makerhunt.co"/>

  <button class="modal-button" ng-class="{subscribe : !response.isMaker}" ng-click="evaluateModal($event);">

      <span class="spinner">
      <svg version="1.1" x="0" y="0" width="150px" height="150px" viewBox="-10 -10 120 120" enable-background="new 0 0 200 200" xml:space="preserve">
        <path class="circle" d="M0,50 A50,50,0 1 1 100,50 A50,50,0 1 1 0,50" />
      </svg>
      </span>
      <span class="success">

        <svg version="1.1" x="0px" y="0px" width="611.99px" height="611.99px" viewBox="0 0 611.99 611.99" enable-background="new 0 0 611.99 611.99" xml:space="preserve">
	 		    <path class="checkMark" d="M606.453,101.171c-7.422-7.384-19.436-7.384-26.856,0L209.688,470.353L32.71,293.719c-7.499-7.46-19.626-7.46-27.086,0     c-7.499,7.46-7.499,19.588,0,27.048L195.341,510.14c0.115,0.115,0.306,0.153,0.421,0.269c0.115,0.114,0.153,0.268,0.229,0.382     c7.422,7.422,19.435,7.422,26.856,0l383.605-382.84C613.836,120.566,613.836,108.554,606.453,101.171z"/>
        </svg>

      </span>
    <span class="modal-button-inner">{{modal.button.status}}</span>
  </button>

  <a class="modal-secondary-action" ng-show="response.isMaker" href="#">Is this not you? Let us know.</a>
  <a class="modal-secondary-action" ng-show="!response.isMaker" href="#">Not listed as a Maker yet? Let us know.</a>



</div>

  <div class="modal" ng-switch-when="error">

    <img class="error-illo" src="../assets/images/Error_illustration.svg" alt="ERROR"/>

    <h2 class="modal-headline">Oh...yeah, that's no good.</h2>

    <p class="modal-message">It seems like something broke on our side of things. We'll look into it right away!</p>


    <button class="modal-button error" ng-click="evaluateModal($event);">

      <span class="spinner">
      <svg version="1.1" x="0" y="0" width="150px" height="150px" viewBox="-10 -10 120 120" enable-background="new 0 0 200 200" xml:space="preserve">
        <path class="circle" d="M0,50 A50,50,0 1 1 100,50 A50,50,0 1 1 0,50" />
      </svg>
      </span>
      <span class="success">

        <svg version="1.1" x="0px" y="0px" width="611.99px" height="611.99px" viewBox="0 0 611.99 611.99" enable-background="new 0 0 611.99 611.99" xml:space="preserve">
	 		    <path class="checkMark" d="M606.453,101.171c-7.422-7.384-19.436-7.384-26.856,0L209.688,470.353L32.71,293.719c-7.499-7.46-19.626-7.46-27.086,0     c-7.499,7.46-7.499,19.588,0,27.048L195.341,510.14c0.115,0.115,0.306,0.153,0.421,0.269c0.115,0.114,0.153,0.268,0.229,0.382     c7.422,7.422,19.435,7.422,26.856,0l383.605-382.84C613.836,120.566,613.836,108.554,606.453,101.171z"/>
        </svg>

      </span>
      <span class="modal-button-inner">{{modal.button.status}}</span>
    </button>


  </div>

</div>
