<div id="feedView" infinite-scroll="load()" infinite-scroll-distance="200">

  <div class="fixedNav">

    <div class="container">

      <div class="logo-wrapper">
        <h1 class="logo">MakerHunt</h1>
      </div>

      <div class="search-wrapper" style="opacity: 0;">
        <div class="search-box">
          <input type="text" class="search" placeholder="Search makers, locations and projects…" autocomplete="off"/>
        </div>
      </div>

      <div class="nav-action-wrapper">

        <ul class="action-list">
          <li class="action-item">
            <i class="fa fa-bell"></i>
          </li>
          <li class="action-item">
            <i class="fa fa-user"></i>
          </li>
        </ul>

      </div>

    </div>

  </div>
  <div class="fixedNav-height"></div>
  <div class="container feed-wrapper">

    <div class="row">
      <div class="f_left-sidebar">

        <div class="currentUser-card ui_card">

          <div class="currentUser-card--cover">

            <div class="cover-background" style="background-image: url('{{user.twitter_profile.profile_banner_url}}');"></div>

            <div class="image-wrapper">
              <img ng-src="{{user.image_url['88px']}}" alt="" class="currentUser-img"/>
              <div class="maker-badge">M</div>
            </div>
            <div class="currentUser-meta">
              <h3 class="user-name">{{user.name}}</h3>
              <h5 class="user-username">@{{user.username}}</h5>
            </div>

          </div>
          <div class="currentUser-card--stats">

          </div>
          <div class="currentUser-card--actions">
            <a class="action-launch-slack" href="https://makerhunt.slack.com/messages" target="_blank"><img src="../assets/images/slack-logo.jpg" alt="" class="slack-btn"/> Launch Slack</a>
            <button class="action-edit-profile" disabled>Edit Profile</button>
            <button class="action-logout">Logout</button>
          </div>


        </div>

      </div>
      <div class="f_main-content">
      <form name="form" ng-submit="share(form)" novalidate>
          <div class="newPost-wrapper ui_card">
              <div class="newPost-inner">
                  <textarea ng-model="currentPost.status" name="status" placeholder="Something to share?" id="status" class="textarea-autogrow" role="textbox" required></textarea>
                  <span class="error-txt" ng-show="form.status.$error.required && !form.$pristine">Common', don't you have anything to share?</span>
              </div>
              <div class="newPost-actions">
                  <button id="newPost-submit" class="newPost-postBtn" type='submit' ng-disabled='form.$invalid'><div class="outline"><div class="pulse"></div></div> Post</button>
              </div>
        </div>
      </form>

        <div class="main-timeline ui_card">

          <div class="ui_hero main-filter">

            <ul class="main-filter--list">

              <li class="main-filter--item active"><i class="fa fa-globe"></i> Global</li>
              <li class="main-filter--item"><i class="fa fa-slack"></i> Slack</li>

            </ul>

          </div>

          <div class="ui_post timeline-item" ng-repeat="post in posts">

            <div class="ui_post-head timeline-item--meta">

              <div class="meta-who-did-what">

                <img ng-src="{{post.user.image_url['88px']}}" class="user-pic"/>
                <p class="who-did-what">
                  <span class="who">{{post.user.name}}</span>
                  <span class="did"><span ng-if="!post.cards[0]">posted</span><span ng-if="post.cards[0]">shared</span></span>
                  <span class="what">a<span ng-if="post.cards[0].type==='article' || !post.cards[0]">n</span> <span ng-if="post.cards[0]">{{post.cards[0].type || 'link'}}</span><span ng-if="!post.cards[0]">update</span></span>.
                </p>

                <div class="user-detail-card ui_card" style="background-image: url({{post.user.image_url['88px']}});">

                  <div class="detail-wrapper">

                    <div class="name-wrapper">
                      <h4 class="userName">{{post.user.name}}</h4>
                    </div>
                    <div class="badge-wrapper" ng-repeat="badge in post.user.ph_settings.maker_of">
                      <div class="badgeItemName"><a ng-href="{{badge.discussion_url}}" target="_blank">{{badge.name}}</a> <span class="makerBadge">M</span></div>
                    </div>


                  </div>


                </div>

              </div>
              <div class="meta-timestamp">
                  <p class="timestamp" am-time-ago="post.created_at"></p>
              </div>

            </div>

            <div class="ui_post-body timeline-item--content">

              <div class="status-wrapper">

                <div class="quote-icon-wrapper">

                  <h4 class="quote" ng-switch="post.via.provider">
                    <i class="fa fa-twitter" ng-switch-when="twitter"></i>
                    <i class="fa fa-slack" ng-switch-when="slack"></i>
                    <i class="fa fa-pencil" ng-switch-when="direct"></i>
                  </h4>
                </div>

                <div class="status-message">
                    <p class="status" ng-bind-html="post.status"></p>
                </div>

              </div>

              <div class="external-content-wrapper" ng-repeat="card in post.cards" ng-click="goExternal(card.url)">
                <div class="text-wrapper">
                    <img ng-src="{{card.icon}}" alt="" class="sourceImg"/>
                  <a class="external-content-headline" ng-bind="card.headline" ng-bind-href="{{card.url}}" target="_blank">
                  </a>
                  <p class="external-content-snippet" ng-bind-html="card.text">
                  </p>

                  <div class="product-card-specials" ng-if="card.type==='product'">

                    <button class="product-upvote">
                      <span class="product-upvote--arrow"></span>
                      <span class="product-upvote--count">95</span>
                    </button>

                    <button class="product-maker" ng-repeat="maker in [1, 2]">
                      <div class="maker-name">Jonas Daniels</div>
                      <img ng-src="https://pbs.twimg.com/profile_images/583567395161268224/ZRqzE0zf.jpg" alt="" class="maker-image"/>
                    </button>

                  </div>

                </div>
                <div class="img-wrapper">
                  <img ng-src="{{card.img}}" alt="" class="external-pic"/>
                </div>

              </div>

            </div>

            <div class="ui_post-footer timeline-item--actions">

              <div class="actions-wrapper">
                <button class="action-like" ng-click="like(post);"><i class="fa fa-heart-o" ng-if="!post.likedBy.indexOf(user.user_id)"></i><i class="fa fa-heart" ng-if="post.likedBy.indexOf(user.user_id)"></i></button>
                <button class="action-edit" ng-show="canEdit(post)" ng-click="edit(post)"><i class="fa fa-pencil"></i></button>
                <button class="action-delete" ng-show="canDelete(post)" ng-click="delete(post)"><i class="fa fa-trash-o"></i></button>
              </div>

              <div class="comment-open-wrapper">
                <button class="comment-toggle" ng-click="openComments(post); $event.stopPropagation();"><i class="fa fa-comments-o"></i> Comments ({{post.comments.length}})</button>
              </div>

            </div>

            <div class="ui_comments-container ui_card popup" ng-class="{'comments-open': isCommentsPost(post)}" ng-controller="CommentsCtrl">


                <h4 class="comments-headline">Comments <i class="fa fa-comments-o"></i></h4>
                <div class="comment-wrapper" ng-if="post.comments.length == 0">
                    <p class="be-first-to-comment">write the first comment</p>
                </div>
                <div class="comment-wrapper" ng-repeat="comment in post.comments | orderBy:sortComments:true">
                  <div class="img-wrapper">
                    <img ng-src="{{comment.user.image_url['88px']}}" alt="" class="user-img"/>
                  </div>
                  <div class="comment-meta">
                    <h5 class="user-name" ng-bind="comment.user.name"></h5>
                    <h6 class="user-userName">@{{ comment.user.username }}</h6>
                    <!--<div class="timestamp" am-time-ago="comment.created_at"></div>-->
                  </div>
                  <div class="comment-actions-wrapper">
                    <button class="action-delete" ng-show="canDelete(comment)" ng-click="delete(comment)"><i class="fa fa-trash-o"></i></button>
                  </div>
                  <div class="comment-status-wrapper">
                    <p class="comment-status" ng-bind-html="comment.body">
                    </p>
                  </div>
                </div>
                <div class="newComment-wrapper" ng-controller="CommentCtrl">
                  <form name="form" ng-submit="submit(form)" novalidate>
                  <input name="body" ng-model="comment.body" placeholder="Write something..." class="textarea-autogrow newComment" type="text" required>
                  <!--<span class="error-txt" ng-show="form.body.$error.required && !form.$pristine">Common', don't you have anything to share?</span>-->
                  </form>
                </div>


            </div>

          </div>
          <div ng-switch="state">
              <div ng-switch-when='loading'>
                <div class="loader-height"></div>
                <div class="ui_content-loader">
                  <div class='bar'></div>
                  <div class='bar'></div>
                  <div class='bar'></div>
                  <div class='bar'></div>
                  <div class='bar'></div>
                </div>
              </div>
              <div ng-switch-when='no-more'>
                <p class="no-more">You've reached the end of MakerHunt! &#9737;_&#9737;</p>
              </div>

              <p ng-switch-when='error'>Error</p>
          </div>
          <!--
          <div ng-if="loadingPosts && !noMorePosts">Loading</div>
          <div ng-if="!loadingPosts && noMorePosts">No More Posts</div>
          -->
        </div>

      </div>
      <div id="right-sidebar" class="f_right-sidebar" ng-class="{'sidebar-blur': (commentsPost != null)}">
        <div class="ui_sideBar-wrapper">

          <div class="currentUser-card ui_card">

            <div class="currentUser-card--cover">

              <div class="cover-background" style="background-image: url('{{user.twitter_profile.profile_banner_url}}');"></div>

              <div class="image-wrapper">
                <img ng-src="{{user.image_url['88px']}}" alt="" class="currentUser-img"/>
                <div class="maker-badge">M</div>
              </div>
              <div class="currentUser-meta">
                <h3 class="user-name">{{user.name}}</h3>
                <h5 class="user-username">@{{user.username}}</h5>
              </div>

            </div>
            <div class="currentUser-card--stats">

            </div>
            <div class="currentUser-card--actions">
              <button class="action-edit-profile" disabled>Edit Profile</button>
              <button class="action-logout">Logout</button>
            </div>


          </div>

          <div class="ui_card">

            <h4 class="ui_sideBar-headline">Upcoming Events</h4>

            <div class="ui_sideBar-section">

              <ul class="sideBar-list">
                <li class="sideBar-list--item" ng-repeat="event in events | filter:eventsFilter | orderBy:sortEvents">

                  <div class="img-wrapper">
                    <img ng-src="{{event.ph_profile.image_url.original}}" alt="" class="event-img"/>
                  </div>

                  <div class="info-wrapper">
                    <h4 class="event-info--headline">
                      <span class="eventName">AMA</span>
                      <span class="with">with</span>
                      <span class="eventWho">{{event.title}}</span>
                    </h4>
                    <p class="event-info--meta">
                      <span class="timestamp" am-time-ago="event.from_date"></span>
                      ·
                      <i class="fa fa-slack"></i>MakerHunt
                    </p>
                  </div>

                </li>
              </ul>

            </div>


          </div>

        </div>

      </div>
    </div>

  </div>

</div>
