
//general styles


.fixedNav {
  z-index: 800;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.125);

  .logo-wrapper {
    width: 17.5%;
    float: left;
    display: inline-block;
    vertical-align: top;

    .logo {
      line-height: 50px;
      font-size: 30px;
      font-weight: 400;
      margin: 0;
    }
  }

  .search-wrapper {
    width: 55%;
    float: left;
    display: inline-block;
    vertical-align: top;

    .search-box {
      position: relative;
      padding: 6px;
      &:before{
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f002";
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 14px;
        color: #27313b;
        opacity: 0.4;
        line-height: 50px;
        padding-left: 14px;
      }

      input.search {
        color: #27313b;
        border: 1px solid #f4f4f4;
        border-radius: 1000px;
        background: #fafafa;
        box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.01);
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        outline: none;
        transition: background 100ms linear, box-shadow 100ms linear;
        margin: 0;
        padding: 0 40px;
        line-height: 38px;
      }
      input:focus {
        background: #fff;
        box-shadow: none;
      }

    }

  }

  .nav-action-wrapper {
    display: inline-block;
    width: 27.5%;
    float: left;

    .action-list {
      margin: 0;
      text-align: right;
      width: 100%;
      line-height: 50px;

      .action-item {
        display: inline-block;
        height: 50px;
        line-height: 26px;
        padding: 12px 14px;
        min-width: 50px;
        text-align: center;
        cursor: pointer;
        vertical-align: top;
        font-size: 18px;
        margin: 0;
        color: #879096;
        position: relative;
        &:hover{
          color: #27313b;
        }
        .notification-count {
          background: #FF5D5D;
          color: white;
          font-size: 10px;
          position: absolute;
          border-radius: 15px;
          line-height: 15px;
          height: 15px;
          top: 10px;
          right: 10px;
          padding: 0 4px;
          min-width: 15px;
          .notifs-over-10{
            font-size: 16px;
            display: block;
            margin-top: -2px;
          }
        }
      }
    }
  }


}
.fixedNav-height{
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
}


.ui_sideBar-wrapper {
  width: 100%;
  position: relative;
  float: left;

  .ui_sideBar-headline {
    font-weight: 400;
    font-size: 14px;
    opacity: .75;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    line-height: 2.5;
    padding: 5px 15px;
    margin: 0 0 5px;
  }
  .ui_sideBar-section {
    padding: 5px 15px;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 5px;
    &:last-child{
      border-bottom: none;
      margin-bottom: 0;
    }
  }
  .sideBar-list {
    width: 100%;
    .sideBar-list--item {
      width: 100%;
      display: block;

      .img-wrapper {
        width: 20%;
        vertical-align: middle;
        display: inline-block;
        img{
          max-width: 100%;
          border-radius: 2px;
        }
      }
      .info-wrapper {
        width: calc(80% - 3px);
        display: inline-block;
        vertical-align: middle;
        padding: 0 5px;

        .event-info--headline {
          margin: 0;
          font-size: 16px;
          line-height: 20px;

          .eventName {
            font-weight: 400;
          }
          .with {
          }
          .eventWho {
            font-weight: 400;
          }
        }
        .event-info--meta {
          margin: 0;
          font-size: 11px;
          line-height: 18px;
          opacity: 0.85;
          font-weight: 400;

        }
      }
    }
  }
}

.ui_card {
  background: #fff;
  padding: 0;
  box-shadow: 0 0 0 1px rgba(0,0,0,.01) , 0 1px 1px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.01) , 0 1px 1px 0 rgba(0,0,0,.1);
  border-radius: 1px;
  zoom: 1;
  float: left;
  width: 100%;
}

.ui_hero {
  margin: 0;
  border-bottom: 1px solid #f4f4f4;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.ui_post {
  padding: 10px;
  border-bottom: 1px solid #f4f4f4;
  margin-top: 15px;
  position: relative;

  .ui_post-head {
    width: 100%;
    display: block;

    .meta-who-did-what {
      width: 80%;
      display: inline-block;
      vertical-align: top;
      position: relative;
      overflow: visible;

      .user-detail-card {
        position: absolute;
        right: calc(100% + 15px);
        width: 0;
        margin-right: 0;
        min-height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        color: #FFFFFF;
        top: 0;
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        -ms-transition: all 300ms;
        -o-transition: all 300ms;
        transition: all 300ms;
        box-shadow: none;
        -webkit-box-shadow: none;
        z-index: 100;
        overflow: hidden;
        border-radius: 2px;

        .detail-wrapper {
          position: absolute;
          top: 118px;
          width: 80%;

          .name-wrapper {
            display: table;
            padding: 2px 18px;
            background: rgba(0, 0, 0, 0.3);
            margin: 5px 0;
            text-align: center;
            max-width: 80%;
            border-radius: 0 2px 2px 0;
            .userName {
              font-size: 18px;
              margin: 0;
              font-weight: 300;
              white-space: nowrap;
            }
          }

          .badge-wrapper {
            background: rgba(65,170,120,.8);
            margin-top: 2px;
            width: auto;
            position: relative;
            white-space: nowrap;
            padding: 0 15px 0 5px;
            display: table;

            .badgeItemName {
              font-size: 12px;

              a{
                color: #fff!important;
                text-decoration: none!important;
                line-height: 20px;
                font-weight: 300;
              }

              .makerBadge {
                position: absolute;
                font-size: inherit;
                margin-right: -10px;
                background: rgba(65, 170, 120, 1);
                border-radius: 50%;
                height: 20px;
                width: 20px;
                line-height: 20px;
                text-align: center;
                right: 0;
                font-weight: 400;
              }
            }
          }
        }
      }



      .user-pic {
        width: 40px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
      }

      .who-did-what {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        font-weight: 300;

        .who {
          padding-left: 10px;
          font-weight: 700;
          cursor: pointer;
        }

        .what{
          font-weight: 700;
          cursor: pointer;
        }
      }

    }

    .meta-who-did-what:hover{
      .user-detail-card{
        width: calc(1190px / 6 - 15px);
        box-shadow: 0 0 0 1px rgba(0,0,0,.01) , 0 1px 1px 0 rgba(0,0,0,.1);
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.01) , 0 1px 1px 0 rgba(0,0,0,.1);
        margin-right: 20px;
      }
    }

    .meta-timestamp {
      width: calc(20% - 3px);
      display: inline-block;
      vertical-align: top;
      line-height: 40px;
      text-align: right;
      font-size: 12px;
      color: rgba(0,0,0,0.5);

      .timestamp {
        margin: 0;
      }
    }
  }

  .ui_post-body {
    width: 100%;

    .status-wrapper {
      width: 100%;
      margin-top: 10px;

      .quote-icon-wrapper {
        width: 40px;
        display: inline-block;
        vertical-align: middle;
        color: rgba(0,0,0,0.1);
        .quote {
          margin: 0;
        }
      }

      .status-message {
        width: calc(100% - 43px);
        display: inline-block;
        vertical-align: middle;

        .status {
          padding-left: 10px;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          //text-align: justify;
          margin: 0;

          a {
            white-space: nowrap;
          }

        }
      }


    }

    .external-content-wrapper {
      margin-left: 50px;
      display: block;
      text-decoration: none;
      color: #27313b;
      overflow: hidden;
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-radius: 2px;
      margin-top: 10px;
      cursor: pointer;

      .text-wrapper {
        width: 66%;
        padding: 10px 8px;
        display: inline-block;
        vertical-align: top;
        float: left;

        .sourceImg {
          height: 16px;
          width: 16px;
          margin-right: 2px;
          border-radius: 2px;
          margin-top: 2px;
          vertical-align: top;
        }

        .external-content-headline {
          font-size: 16px;
          font-weight: 400;
          display: inline;
          line-height: 1.1;
          vertical-align: top;
          color: inherit;
          cursor: pointer;
        }
        .event-info--headline:hover{
          text-decoration: underline;
        }

        .external-content-snippet {
          font-size: 12px;
          opacity: 0.7;
          line-height: 1.4;
        }

      }

      .img-wrapper {
        display: inline-block;
        width: 33%;
        vertical-align: top;
        float: right;

        .external-pic {
          max-width: 100%;
          vertical-align: bottom;
        }
      }
    }
  }

  .ui_post-footer {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;

    .actions-wrapper {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      -webkit-transition: opacity 300ms;
      -moz-transition: opacity 300ms;
      -ms-transition: opacity 300ms;
      -o-transition: opacity 300ms;
      transition: opacity 300ms;

      .action-edit {
        margin: 0;
        padding: 10px;
        line-height: 1;
        height: auto;
        border: none;
        font-size: 14px;
      }

      .action-delete {
        margin: 0;
        padding: 10px;
        line-height: 1;
        height: auto;
        border: none;
        font-size: 14px;
      }


    }

    .right-action-wrapper {
      display: inline-block;
      text-align: right;
      width: calc(50% - 3px);

      .action-like{
        margin: 0;
        padding: 10px;
        line-height: 1;
        height: auto;
        font-size: 12px;
        color: #41aa78;
        border-radius: 500px;
        margin-right: 5px;
        font-weight: 400;
        border: 1px solid rgba(65, 170, 120, 0.4);
        &:focus,&:active{
          color: #41aa78;
        }
        &:hover{
          border: 1px solid rgba(65, 170, 120, 0.9);

        }
        .fa {
          width: 12px;
        }
      }

      .comment-toggle {
        margin: 0;
        padding: 10px;
        line-height: 1;
        height: auto;
        font-size: 12px;
        border-radius: 500px;
        font-weight: 400;
        text-transform: none;
      }
    }
  }
}
.ui_post:last-child{
  border-bottom: 1px solid transparent;
}
.ui_post:hover{
  .ui_post-footer{
    .actions-wrapper{
      opacity: 1;
    }
  }
}

.ui_comments-container {
  position: relative;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  margin-top: 0;
  background: rgba(0,0,0,.01);
  border-radius: 4px;
  float: none;
  display: block;
  max-height: 0;
  -webkit-box-shadow: none;
  box-shadow: none;


  .comments-headline{
    font-weight: 400;
    font-size: 14px;
    opacity: .75;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    line-height: 2.5;
    padding: 5px 15px;
    margin: 0 0 5px;
    min-width: 200px;
    display: none;
  }

  .comment-wrapper {
    width: 100%;
    padding: 5px 15px 10px;
    border-bottom: 1px solid #f4f4f4;

    .be-first-to-comment {
      text-align: center;
      margin: 0;
      font-size: 12px;
      font-weight: 300;
      font-style: italic;
    }

    .img-wrapper {
      width: 35px;
      display: inline-block;
      vertical-align: middle;

      .user-img {
        max-width: 100%;
        border-radius: 50%;
        vertical-align: bottom;
      }
    }
    .comment-meta {
      vertical-align: middle;
      display: inline-block;
      padding-left: 5px;

      .user-name {
        font-size: 14px;
        font-weight: 400;
        display: block;
        margin: 0;
        line-height: 1;
      }
      .user-userName {
        margin: 0;
        font-size: 12px;
        line-height: 1.2;
        font-weight: 400;
        color: rgba(0,0,0,.5);
      }
      .timestamp {
        font-size: 11px;
        font-weight: 300;
        line-height: 20px;
        display: inline-block;
        width: 20%;
        float: left;
        white-space: nowrap;
      }
    }

    .comment-status-wrapper {
      display: block;
      padding-left: 45px;

      .comment-status{
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 0;
        line-height: 1.2;
      }

    }
    .comment-actions-wrapper {
      display: inline-block;
      float: right;
      line-height: 30px;
      opacity: 0;
      transition: opacity 250ms;
    }

    &:hover{
      .comment-actions-wrapper{
        opacity: 1;
      }
    }
    &:nth-child(even){
      background: rgba(0,0,0,0.01);
    }
  }
  .comment-threaded{
    padding-left: 60px;
  }

  .newComment-wrapper{
    width: 100%;
    padding: 5px;

    .newComment {
      border: 1px solid rgba(0, 0, 0, 0.1) !important;
      font-size: 12px;
      line-height: 16px;
      border-radius: 0;
      padding: 0 5px;
      height: 30px;
    }
  }
}
.comments-open{
  max-height: 600px;
  margin-top: 5px;
  overflow-y: auto;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}


// newPost

.newPost-wrapper {
  padding: 5px;
  margin-bottom: 15px;

  .newPost-inner {
    overflow: hidden;
  }


  .newPost-actions {
    text-align: right;
    padding: 10px;
    border-top: 1px solid rgba(135, 144, 150, 0.22);

    .newPost-postBtn {
      font-weight: 400;
      font-size: 14px;
      color: #fff !important;
      background: #54b6d0;
      text-transform: none;
      outline: 0 !important;
      margin: 0 auto;
      text-decoration: none;
      box-sizing: border-box;
      border-radius: 4px;
      border: none !important;
      line-height: 2.5;
      height: auto;
    }
    .newPost-posting{
      padding-left: 20px;
      background: #555!important;
      cursor: progress;

      .outline{
        display: inline-block;
      }
    }
  }

}

.textarea-autogrow {
  overflow: hidden;
  width: 100%;
  border-radius: 0;
  border: none!important;
  outline: none!important;
  margin: 0;
  resize: none;
  font-size: 14px;
}

//main timeline

.main-timeline {
  padding: 5px;
  margin-bottom: 15px;

  .no-more {
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 2.5;
  }

  .main-filter {
    padding: 0 28px;


    .main-filter--list {
      margin: 0;

      .main-filter--item {
        display: inline-block;
        border-bottom: 3px solid transparent;
        padding: 28px 0 25px 0;
        text-align: center;
        margin: 0 28px 0 0;
        cursor: pointer;
      }
      .active {
        color: #41aa78;
        border-bottom: 3px solid!important;
      }
    }

  }

}

///#feedView

#feedView{
  background: #fbfbfb;
  min-height: 100vh;
  color: rgb(78, 88, 96);

  .container{
    max-width: 1160px;
  }
}


///////// MOBILE FIRST QUERIES ////////

//// header mobile

.fixedNav {
  .logo-wrapper {
    width: 50%;
  }

  .search-wrapper {
    display: none;
  }

  .nav-action-wrapper {
    width: 50%;
  }
}

.user-detail-card{
  display: none!important;
}
.meta-who-did-what{
  width: 100%!important;
}
.meta-timestamp{
  display: none!important;
}




////f_Mobile
.f_left-sidebar {
  display: none;
}


.f_main-content {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  float: left;
  position: relative;
}

.f_right-sidebar {
  display: none;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -ms-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
}

////f_Tablet

@media (min-width: 800px) {
  .meta-who-did-what {
    width: 80% !important;
  }
  .meta-timestamp {
    display: inline-block !important;
  }

  .f_left-sidebar {
    display: none;
  }

  .f_main-content {
    display: inline-block;
    width: calc(100% / 3 * 2);
    vertical-align: top;
    float: left;
  }

  .f_right-sidebar {
    display: inline-block;
    width: calc(100% / 3);
    padding-left: 20px;
    vertical-align: top;
    float: left;

    .currentUser-card {
      display: block;
    }
  }

  //// header tablet

  .fixedNav {
    .logo-wrapper {
      width: calc(100% / 3 * 2);
    }

    .search-wrapper {
      display: none;
    }

    .nav-action-wrapper {
      width: calc(100% / 3);
    }
  }

}


////f_ Desktop
@media (min-width: 1200px){

  .user-detail-card{
    display: block!important;
  }

  .f_left-sidebar {
    display: inline-block;
    width: 17.5%;
    padding-right: 20px;
    vertical-align: top;
    float: left;
  }

  .f_main-content {
    display: inline-block;
    width: 55%;
    vertical-align: top;
    float: left;
  }

  .f_right-sidebar {
    display: inline-block;
    width: 27.5%;
    padding-left: 20px;
    vertical-align: top;
    float: left;
    .currentUser-card{
      display: none;
    }
  }

  //// header desktop

  .fixedNav {
    .logo-wrapper {
      width: 17.5%;
    }

    .search-wrapper {
      display: inline-block;
      width: 55%;
    }

    .nav-action-wrapper {
      width: 27.5%;
    }
  }
  .ui_post{
    .ui_post-footer{
      .actions-wrapper{
        opacity: 0;
      }
    }
  }

}

.sidebar-blur{
  filter: blur(5px);
  -webkit-filter: blur(5px);
}


////PULSE ANIMATION

.outline {
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,.3);
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5);
  display: none;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 5px;
}
.pulse {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 4px auto;
  animation: pulse 2s ease infinite;
  -webkit-animation: pulse 1.5s ease infinite;
  -moz-animation: pulse 1.5s ease infinite;
  -ms-animation: pulse 1.5s ease infinite;
  -o-animation: pulse 1.5s ease infinite;
  box-shadow: 0px 0px 5px #FFFFFF;
  background: rgba(255,255,255,.2);
}
@keyframes pulse {
  to {
    opacity: 0;

    transform: scale(2);
  }
}
@-webkit-keyframes pulse {
  to {
    opacity: 0;

    -webkit-transform: scale(2);
  }
}
@-moz-keyframes pulse {
  to {
    opacity: 0;

    -moz-transform: scale(2);
  }
}
@-ms-keyframes pulse {
  to {
    opacity: 0;

    -moz-transform: scale(2);
  }
}
@-o-keyframes pulse {
  to {
    opacity: 0;

    -o-transform: scale(2);
  }
}


form{
  margin: 0;
}

.action-delete {
  border: none;
  padding: 0;
  height: auto;
  line-height: 1;
  font-size: 14px;
  //color: rgba(228, 0, 0, 0.66);
  &:hover{
    color: rgba(228, 0, 0, 1);
  }
}


//// more posts loader

$bars: 5; $size: 25px; $mGreen: #41aa78;
$ease: .4s ease-in-out; $delay: .1s;
.ui_content-loader {
  position: absolute;
  left: 0; right: 0; bottom: 25px;
  width: 30px; height: $size;
  margin: auto;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: center;
  align-items: center;
    .bar {
      width: 5px; height: 5px;
      margin-right: 1px;
      border-radius: 5px;
      background: $mGreen;
      flex: 1 5px;
      &:last-child { margin: 0; }
      @for $i from 1 through $bars {
        &:nth-child( #{$i} ) {
          animation: load $ease $delay * $i infinite alternate;
        }
      }
    }
}
@keyframes load { 100% { height: $size; } }
.loader-height{
  position: relative;
  height: 40px;
}

//// CURRENT USER SIDEBAR CARD

.currentUser-card {
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;

  .currentUser-card--cover {
    position: relative;
    width: 100%;
    z-index: 1;

    .cover-background {
      position: absolute;
      left: -5px;
      top: 0;
      right: -5px;
      height: 60px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: -1;
      filter: blur(2px);
      -webkit-filter: blur(2px);
      overflow: hidden;
      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.2);
      }
    }

    .image-wrapper {
      width: 65px;
      padding: 5px;
      z-index: 10;
      padding-top: 15px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      .currentUser-img {
        max-width: 100%;
        border-radius: 50%;
      }
      .maker-badge{
        position: absolute;
        top: 12px;
        right: 2px;
        width: 20px;
        height: 20px;
        background: #41aa78;
        color: white;
        border-radius: 50%;
        text-align: center;
        font-size: 11px;
        line-height: 20px;
        font-weight: 400;
      }
    }
    .currentUser-meta {
      display: inline-block;
      vertical-align: top;
      padding-top: 20px;
      padding-left: 5px;
      .user-name {
        margin: 0;
        font-size: 14px;
        color: #fff;
        font-weight: 400;
        letter-spacing: initial;
      }
      .user-username {
        margin: 0;
        font-size: 11px;
        color: #fff;
        letter-spacing: initial;
        font-weight: 400;
      }

    }


  }
  .currentUser-card--actions {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 5px;

    .action-launch-slack{
      border: none;
      position: relative;
      display: block;
      height: 38px;
      padding: 0 30px;
      color: #555;
      text-align: center;
      font-size: 11px;
      font-weight: 600;
      line-height: 38px;
      letter-spacing: .1rem;
      text-transform: uppercase;
      text-decoration: none;
      white-space: nowrap;
      background-color: transparent;
      border-radius: 4px;
      cursor: pointer;
      box-sizing: border-box;
      .slack-btn {
        max-height: 20px;
        vertical-align: middle;
        position: absolute;
        left: 15px;
        top: 9px;
      }
      &:hover{
        color: #000;
      }
    }

    .action-edit-profile {
      width: 80%;
      border: none;
      cursor: not-allowed;
    }
    .action-logout {
      border: none;
      width: 80%;
      &:hover{
        background: rgba(0,0,0,0.1);
      }
    }
  }
}

.product-card-specials {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 8px;

  .product-upvote {
    background: #fff;
    margin: 0 11px 0 0;
    position: relative;
    text-align: center;
    border-radius: 4px;
    width: auto;
    padding: 0 10px;
    height: 30px;
    color: #555;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    vertical-align: middle;

    .product-upvote--arrow {
      border-bottom: 10px solid #555;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 10px solid transparent;
      display: inline-block;
      vertical-align: top;
      -webkit-transition: all 250ms;
      -moz-transition: all 250ms;
      -ms-transition: all 250ms;
      -o-transition: all 250ms;
      transition: all 250ms;
    }
    .product-upvote--count {
      color: inherit;
      font-size: 14px;
      font-weight: 400;
      display: inline-block;
      vertical-align: top;
      line-height: 30px;
    }
    &:hover{
      background: rgba(217, 88, 57, 1);
      color: #FFFFFF;
      .product-upvote--arrow {
        border-bottom: 10px solid #FFFFFF;
      }
    }
  }

  .product-maker {
    padding: 0;
    vertical-align: middle;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 11px 0 0;
    z-index: 20;

    .maker-name {
      opacity: 0;
      position: absolute;
      background: transparent;
      left: -50%;
      top: 0;
      line-height: 25px;
      border-radius: 4px;
      font-size: 10px;
      text-transform: none;
      font-weight: 400;
      overflow: hidden;
      white-space: nowrap;
      -webkit-transition: all 300ms;
      -moz-transition: all 300ms;
      -ms-transition: all 300ms;
      -o-transition: all 300ms;
      transition: all 300ms;
      width: auto;
      padding: 0 5px;
      border: 1px solid rgba(0,0,0,.3);
    }
    .maker-image {
      width: 100%;
      height: 100%;
      vertical-align: top;
      z-index: 20px;
    }
    &:hover{
      .maker-name {
        left: -50%;
        top: -30px;
        background: #fff;
        z-index: 10;
        opacity: 1;

      }
    }
  }
}


////NAV DROPDOWN STUFF

.dropDown-wrapper {
  position: absolute;
  left: 0;
  top: 51px;
  padding: 0 20px;
  width: 100%;

  .notifications-wrapper {
    overflow: hidden;

    padding: 0px 15px;
    max-height: 0;
    box-shadow: none;
    -webkit-box-shadow: none;

    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;

    .notifications-list {
      margin: 0;
      padding: 0;
      max-height: 190px;
      overflow-y: auto;

      .notification-wrapper {
        margin: 0;
        display: block;
        padding: 5px 0;
        border-bottom: 1px solid #f4f4f4;
        position: relative;
        cursor: default;

        .notif-img-wrapper {
          max-width: 10%;
          display: inline-block;
          vertical-align: middle;
          .notification-pic {
            max-width: 100%;
            border-radius: 50%;
          }
        }
        .notif-content-wrapper {
          display: inline-block;
          padding-left: 5px;
          font-size: 12px;
          vertical-align: middle;
          line-height: 1;
          width: 88%;
          padding-right: 20px;

          .who {
            font-weight: 700;
          }
          .did {
            //font-style: italic;
          }
          .what {
            font-weight: 700;
          }



        }
        .notif-action-wrapper {
          position: absolute;
          top: 0;
          right: 0;
          opacity: 0;
          -webkit-transition: opacity 200ms;
          -moz-transition: opacity 200ms;
          -ms-transition: opacity 200ms;
          -o-transition: opacity 200ms;
          transition: opacity 200ms;
          .notif-remove {
            border: none;
            line-height: 35px;
            height: auto;
            width: auto;
            padding: 0;
            font-size: 14px;
          }
        }
        &:hover{
          .notif-action-wrapper {
            opacity: 1;
          }
        }
      }
    }
    .notif-remove-all {
      height: auto;
      line-height: 1;
      border: none;
      display: inline-block;
      width: 100%;
    }
  }
  .notifications-open{
    max-height: 224px;
    padding: 5px 15px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  }

}

////NOTIFICATION RESPONSIFICATION

@media (min-width: 800px){

  .fixedNav {
    .nav-action-wrapper{
      position: relative;
    }
  }

  .dropDown-wrapper {
    padding-right: 0;
  }
}
