<div id="feedView" infinite-scroll="load()" infinite-scroll-distance="200">

  <div class="fixedNav">

    <div class="container">

      <div class="logo-wrapper">
        <h1 class="logo">MakerHunt</h1>
      </div>

      <div class="search-wrapper" style="opacity: 0;">
        <div class="search-box">
          <input type="text" class="search" placeholder="Search makers, locations and projects…" autocomplete="off"/>
        </div>
      </div>

      <div class="nav-action-wrapper">

        <ul class="action-list">
          <li class="action-item">
            <i class="fa fa-bell"></i>
          </li>
          <li class="action-item">
            <i class="fa fa-user"></i>
          </li>
        </ul>

      </div>

    </div>

  </div>
  <div class="fixedNav-height"></div>
  <div class="container feed-wrapper">

    <div class="row">
      <div class="f_left-sidebar">
          {{ user.name }}
      </div>
      <div class="f_main-content">
      <form name="form" ng-submit="share(form)" novalidate>
          <div class="newPost-wrapper ui_card">
              <div class="newPost-inner">
                  <textarea ng-model="currentPost.status" name="status" placeholder="Something to share?" id="status" class="textarea-autogrow" role="textbox" required></textarea>
                  <span class="error-txt" ng-show="form.status.$error.required && !form.$pristine">Common', don't you have anything to share?</span>
              </div>
              <div class="newPost-actions">
                  <button class="newPost-postBtn" type='submit' ng-disabled='form.$invalid'>Post</button>
              </div>
        </div>
      </form>

        <div class="main-timeline ui_card">

          <div class="ui_hero main-filter">

            <ul class="main-filter--list">

              <li class="main-filter--item active"><i class="fa fa-globe"></i> Global</li>
              <li class="main-filter--item"><i class="fa fa-slack"></i> Slack</li>

            </ul>

          </div>

          <div class="ui_post timeline-item" ng-repeat="post in posts">

            <div class="ui_post-head timeline-item--meta">

              <div class="meta-who-did-what">

                <img ng-src="{{post.user.image_url['88px']}}" class="user-pic"/>
                <p class="who-did-what">
                  <span class="who">{{post.user.name}}</span>
                  <span class="did">shared</span>
                  <span class="what">a<span ng-if="post.card.type==='article'">n</span> {{post.card.type || 'link'}}</span>.
                </p>

                <div class="user-detail-card ui_card" style="background-image: url({{post.user.image_url['88px']}});">

                  <div class="detail-wrapper">

                    <div class="name-wrapper">
                      <h4 class="userName">{{post.user.name}}</h4>
                    </div>
                    <div class="badge-wrapper" ng-repeat="badge in post.user.ph_settings.maker_of">
                      <div class="badgeItemName"><a ng-href="{{badge.discussion_url}}" target="_blank">{{badge.name}}</a> <span class="makerBadge">M</span></div>
                    </div>


                  </div>


                </div>

              </div>
              <div class="meta-timestamp">
                  <p class="timestamp" am-time-ago="post.created_at"></p>
              </div>

            </div>

            <div class="ui_post-body timeline-item--content">

              <div class="status-wrapper">

                <div class="quote-icon-wrapper">

                  <h4 class="quote" ng-switch="post.via.provider">
                    <i class="fa fa-twitter" ng-switch-when="twitter"></i>
                    <i class="fa fa-slack" ng-switch-when="slack"></i>
                    <i class="fa fa-pencil" ng-switch-when="direct"></i>
                  </h4>
                </div>

                <div class="status-message">
                    <p class="status" ng-bind-html="post.status"></p>
                </div>

              </div>

              <div class="external-content-wrapper" ng-repeat="card in post.cards">
                <div class="text-wrapper">
                  <img ng-src="https://pbs.twimg.com/profile_images/498896933360898049/Io6eZONw_normal.jpeg" alt="" class="sourceImg"/>
                  <a class="external-content-headline" ng-bind="card.headline" ng-bind-href="{{card.url}}">
                  </a>
                  <p class="external-content-snippet" ng-bind-html="card.text">
                  </p>
                </div>
                <div class="img-wrapper">
                  <img ng-src="{{card.img}}" alt="" class="external-pic"/>
                </div>

              </div>

            </div>

            <div class="ui_post-footer timeline-item--actions">

              <div class="poster-actions-wrapper">
                <button class="action-edit" ng-show="canEdit(post)" ng-click="edit(post)"><i class="fa fa-pencil"></i></button>
                <button class="action-delete" ng-show="canDelete(post)" ng-click="delete(post)"><i class="fa fa-trash-o"></i></button>
              </div>

              <div class="comment-open-wrapper">
                <button class="comment-toggle" ng-click="openComments()"><i class="fa fa-comments-o"></i> Comments ({{post.comments.length}})</button>
              </div>

            </div>

            <div class="ui_comments-container">

              <div class="ui_card">

                <h4 class="comments-headline">Comments <i class="fa fa-comments-o"></i></h4>

                <div class="comment-wrapper" ng-repeat="comment in activePost.comments">
                  <div class="img-wrapper">
                    <img ng-src="https://pbs.twimg.com/profile_images/583567395161268224/ZRqzE0zf.jpg" alt="" class="user-img"/>
                  </div>
                  <div class="comment-meta">
                    <h5 class="user-name">Jonas Daniels</h5>
                    <div class="timestamp">5min ago</div>
                  </div>
                  <div class="comment-status-wrapper">
                    <p class="comment-status">
                      We just published “Maker Hunt’s AMA with Mattan Griffel from One Month” https://medium.com/@MakerHunt/maker-hunt-s-ama-with-mattan-griffel-from-one-month-b23dcdf2eea4?source=tw-a32a58630f2c-1428011480867 @mattangriffel @onemonthedu
                    </p>
                  </div>
                  <div class="comment-actions-wrapper">

                  </div>
                </div>

                <div class="newComment-wrapper">

                  <input name="newComment" placeholder="Write something..." class="textarea-autogrow newComment" type="text">



                </div>

              </div>

            </div>

          </div>
          <div ng-switch="state">
              <p ng-switch-when='loading'>Loading more posts</p>
              <p ng-switch-when='no-more'>No more posts, you've scrolled to the end of Makerhunt</p>
              <p ng-switch-when='error'>Error</p>
          </div>
          <!--
          <div ng-if="loadingPosts && !noMorePosts">Loading</div>
          <div ng-if="!loadingPosts && noMorePosts">No More Posts</div>
          -->
        </div>

      </div>
      <div id="right-sidebar" class="f_right-sidebar">

        <div class="ui_sideBar-wrapper">

          <div class="ui_card">

            <h4 class="ui_sideBar-headline">Upcoming Events</h4>

            <div class="ui_sideBar-section">

              <ul class="sideBar-list">
                <li class="sideBar-list--item" ng-repeat="event in events">

                  <div class="img-wrapper">
                    <img ng-src="{{event.ph_profile.image_url.original}}" alt="" class="event-img"/>
                  </div>

                  <div class="info-wrapper">
                    <h4 class="event-info--headline">
                      <span class="eventName">AMA</span>
                      <span class="with">with</span>
                      <span class="eventWho">{{event.title}}</span>
                    </h4>
                    <p class="event-info--meta">
                      <span class="timestamp">in 6 days</span>
                      ·
                      <i class="fa fa-slack"></i>MakerHunt
                    </p>
                  </div>

                </li>
              </ul>

            </div>


          </div>

        </div>

      </div>
    </div>

  </div>

</div>
