
//general styles


.fixedNav {
  z-index: 800;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.125);

  .logo-wrapper {
    width: 17.5%;
    float: left;
    display: inline-block;
    vertical-align: top;

    .logo {
      line-height: 50px;
      font-size: 30px;
      font-weight: 400;
      margin: 0;
    }
  }

  .search-wrapper {
    width: 55%;
    float: left;
    display: inline-block;
    vertical-align: top;

    .search-box {
      position: relative;
      padding: 6px;
      &:before{
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f002";
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 14px;
        color: #27313b;
        opacity: 0.4;
        line-height: 50px;
        padding-left: 14px;
      }

      input.search {
        color: #27313b;
        border: 1px solid #f4f4f4;
        border-radius: 1000px;
        background: #fafafa;
        box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.01);
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        outline: none;
        transition: background 100ms linear, box-shadow 100ms linear;
        margin: 0;
        padding: 0 40px;
        line-height: 38px;
      }
      input:focus {
        background: #fff;
        box-shadow: none;
      }

    }

  }

  .nav-action-wrapper {
    display: inline-block;
    width: 27.5%;
    float: left;

    .action-list {
      margin: 0;
      text-align: right;
      width: 100%;
      line-height: 50px;

      .action-item {
        display: inline-block;
        height: 50px;
        line-height: 26px;
        padding: 12px 14px;
        min-width: 50px;
        text-align: center;
        cursor: pointer;
        vertical-align: top;
        font-size: 18px;
        margin: 0;
        color: #879096;
        &:hover{
          color: #27313b;
        }
      }
    }
  }


}
.fixedNav-height{
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
}


.ui_card {
  background: #fff;
  padding: 0;
  box-shadow: 0 0 0 1px rgba(0,0,0,.01) , 0 1px 1px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.01) , 0 1px 1px 0 rgba(0,0,0,.1);
  border-radius: 1px;
  zoom: 1;
}

.ui_hero {
  margin: 0;
  border-bottom: 1px solid #f4f4f4;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.ui_post {
  padding: 10px;
  border-bottom: 1px solid #f4f4f4;
  margin-top: 15px;

  .ui_post-head {
    width: 100%;
    display: block;

    .meta-who-did-what {
      width: 80%;
      display: inline-block;
      vertical-align: top;
      position: relative;
      overflow: visible;

      .user-detail-card {
        position: absolute;
        right: calc(100% + 35px);
        width: 0;
        min-height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        color: #FFFFFF;
        top: 0;
        -webkit-transition: all 250ms;
        -moz-transition: all 250ms;
        -ms-transition: all 250ms;
        -o-transition: all 250ms;
        transition: all 250ms;
        box-shadow: none;
        -webkit-box-shadow: none;
        z-index: 100;
        overflow: hidden;
        border-radius: 2px;

        .detail-wrapper {
          position: absolute;
          top: 120px;
          width: 80%;

          .name-wrapper {
            display: table;
            padding: 2px 18px;
            background: rgba(0, 0, 0, 0.3);
            margin: 5px 0;
            text-align: center;
            max-width: 80%;
            border-radius: 0 2px 2px 0;
            .userName {
              font-size: 18px;
              margin: 0;
              font-weight: 300;
              white-space: nowrap;
            }
          }

          .badge-wrapper {
            background: rgba(65, 170, 120, 0.8);
            text-align: center;
            margin-top: 2px;
            width: auto;
            position: relative;
            white-space: nowrap;
            padding: 0 8px;
            max-width: 100px;

            .badgeItemName {
              font-size: 12px;

              a{
                color: #fff!important;
                text-decoration: none!important;
                line-height: 20px;
                font-weight: 300;
              }

              .makerBadge {
                position: absolute;
                font-size: inherit;
                margin-right: -10px;
                background: rgba(65, 170, 120, 1);
                border-radius: 50%;
                height: 20px;
                width: 20px;
                line-height: 20px;
                text-align: center;
                right: 0;
                font-weight: 700;
              }
            }
          }
        }
      }



      .user-pic {
        width: 40px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
      }

      .who-did-what {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        font-weight: 300;

        .who {
          padding-left: 10px;
          font-weight: 700;
          cursor: pointer;
        }

        .what{
          font-weight: 700;
          cursor: pointer;
        }
      }

    }

    .meta-who-did-what:hover{
      .user-detail-card{
        width: calc(1190px / 6 - 15px);
        box-shadow: 0 0 0 1px rgba(0,0,0,.01) , 0 1px 1px 0 rgba(0,0,0,.1);
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.01) , 0 1px 1px 0 rgba(0,0,0,.1);
      }
    }

    .meta-timestamp {
      width: calc(20% - 3px);
      display: inline-block;
      vertical-align: top;
      line-height: 40px;
      text-align: right;
      font-size: 12px;
      color: rgba(0,0,0,0.5);

      .timestamp {
        margin: 0;
      }
    }
  }

  .ui_post-body {
    width: 100%;

    .status-wrapper {
      width: 100%;
      margin-top: 10px;

      .quote-icon-wrapper {
        width: 40px;
        display: inline-block;
        vertical-align: middle;
        color: rgba(0,0,0,0.1);
        .quote {
          margin: 0;
        }
      }

      .status-message {
        width: calc(100% - 43px);
        display: inline-block;
        vertical-align: middle;

        .status {
          padding-left: 10px;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          //text-align: justify;
          margin: 0;

          a {
            white-space: nowrap;
          }

        }
      }


    }

    .external-content-wrapper {
      margin-left: 50px;
      display: block;
      text-decoration: none;
      color: #27313b;
      overflow: hidden;
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-radius: 2px;
      cursor: pointer;
      margin-top: 10px;

      .text-wrapper {
        width: 66%;
        padding: 10px 8px;
        display: inline-block;
        vertical-align: top;
        float: left;

        .sourceImg {
          height: 16px;
          width: 16px;
          margin-right: 2px;
          border-radius: 2px;
          margin-top: 2px;
        }

        .external-content-headline {
          font-size: 16px;
          font-weight: 400;
          display: inline;
          line-height: 1.1;
          vertical-align: top;
        }

        .external-content-snippet {
          font-size: 12px;
          opacity: 0.7;
          line-height: 1.4;
        }

      }

      .img-wrapper {
        display: inline-block;
        width: 33%;
        vertical-align: top;
        float: right;

        .external-pic {
          max-width: 100%;
          vertical-align: bottom;
        }
      }
    }
  }

  .ui_post-footer {
    opacity: 0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;

    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -ms-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;

    .poster-actions-wrapper {
      width: 50%;
      display: inline-block;
      vertical-align: top;

      .action-edit {
        margin: 0;
        padding: 10px;
        line-height: 1;
        height: auto;
        border: none;
        font-size: 14px;
      }

      .action-delete {
        margin: 0;
        padding: 10px;
        line-height: 1;
        height: auto;
        border: none;
        font-size: 14px;
      }


    }

    .comment-open-wrapper {
      display: inline-block;
      text-align: right;
      width: calc(50% - 3px);

      .comment-toggle {
        margin: 0;
        padding: 10px;
        line-height: 1;
        height: auto;
        font-size: 12px;
        border-radius: 500px;
        font-weight: 400;
        text-transform: none;
      }
    }
  }
}
.ui_post:last-child{
  border-bottom: 1px solid transparent;
}
.ui_post:hover{
  .ui_post-footer{
    opacity: 1;
  }
}


// newPost

.newPost-wrapper {
  padding: 5px;
  margin-bottom: 15px;

  .newPost-inner {
    overflow: hidden;
  }


  .newPost-actions {
    text-align: right;
    padding: 10px;
    border-top: 1px solid rgba(135, 144, 150, 0.22);

    .newPost-postBtn {
      font-weight: 400;
      font-size: 14px;
      color: #fff !important;
      background: #54b6d0;
      text-transform: none;
      outline: 0 !important;
      margin: 0 auto;
      text-decoration: none;
      box-sizing: border-box;
      border-radius: 4px;
      border: none !important;
      line-height: 2.5;
      height: auto;
    }
  }

}

.textarea-autogrow {
  overflow: hidden;
  width: 100%;
  border-radius: 0;
  border: none!important;
  outline: none!important;
  margin: 0;
  resize: none;
  font-size: 14px;
}

//main timeline

.main-timeline {
  padding: 5px;
  margin-bottom: 15px;

  .main-filter {
    padding: 0 28px;


    .main-filter--list {
      margin: 0;

      .main-filter--item {
        display: inline-block;
        border-bottom: 3px solid transparent;
        padding: 28px 0 25px 0;
        text-align: center;
        margin: 0 28px 0 0;
        cursor: pointer;
      }
      .active {
        color: #41aa78;
        border-bottom: 3px solid!important;
      }
    }

  }

}

///#feedView

#feedView{
  background: #fbfbfb;
  min-height: 100vh;
  color: rgb(78, 88, 96);

  .container{
    max-width: 1160px;
  }
}


///////// MOBILE FIRST QUERIES ////////

//// header mobile

.fixedNav {
  .logo-wrapper {
    width: 50%;
  }

  .search-wrapper {
    display: none;
  }

  .nav-action-wrapper {
    width: 50%;
  }
}

.user-detail-card{
  display: none!important;
}
.meta-who-did-what{
  width: 100%!important;
}
.meta-timestamp{
  display: none!important;
}




////f_Mobile
.f_left-sidebar {
  display: none;
}


.f_main-content {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  float: left;
}

.f_right-sidebar {
  display: none;
}

////f_Tablet

@media (min-width: 800px){
  .meta-who-did-what{
    width: 80%!important;
  }
  .meta-timestamp{
    display: inline-block!important;
  }

  .f_left-sidebar {
    display: none;
  }

  .f_main-content {
    display: inline-block;
    width: calc(100% / 3 * 2);
    vertical-align: top;
    float: left;
  }

  .f_right-sidebar {
    display: inline-block;
    width: calc(100% / 3);
    padding-left: 20px;
    vertical-align: top;
    float: left;
  }

  //// header tablet

  .fixedNav {
    .logo-wrapper {
      width: calc(100% / 3 * 2);
    }

    .search-wrapper {
      display: none;
    }

    .nav-action-wrapper {
      width: calc(100% / 3);
    }
  }

}


////f_ Desktop
@media (min-width: 1200px){

  .user-detail-card{
    display: block!important;
  }

  .f_left-sidebar {
    display: inline-block;
    width: 17.5%;
    padding-right: 20px;
    vertical-align: top;
    float: left;
  }

  .f_main-content {
    display: inline-block;
    width: 55%;
    vertical-align: top;
    float: left;
  }

  .f_right-sidebar {
    display: inline-block;
    width: 27.5%;
    padding-left: 20px;
    vertical-align: top;
    float: left;
  }

  //// header desktop

  .fixedNav {
    .logo-wrapper {
      width: 17.5%;
    }

    .search-wrapper {
      display: inline-block;
      width: 55%;
    }

    .nav-action-wrapper {
      width: 27.5%;
    }
  }
}
