<div id="postView">

  <div class="fixedNav">

    <div class="container">

      <div class="logo-wrapper">
        <h1 class="logo" style="font-size: 0;">
          <img src="../assets/images/M_logo_alternate.png" alt="" class="logo-img"/>
          MakerHunt
        </h1>
      </div>

      <div class="search-wrapper" style="opacity: 0;">
        <div class="search-box">
          <input type="text" class="search" placeholder="Search makers, locations and projects…" autocomplete="off"/>
        </div>
      </div>

      <div class="nav-action-wrapper" ng-controller="NotificationsCtrl">

        <ul class="action-list">
          <li class="action-item button" ng-click="toggleNotifications()">
            <i class="fa fa-bell"></i>
            <div class="notification-count animated rubberBand" ng-if="unseen_notifications.length > 0"><span ng-if="unseen_notifications.length < 10">{{unseen_notifications.length}}</span><span class="notifs-over-10" ng-if="unseen_notifications.length >= 10">·</span></div>
          </li>
          <li class="action-item action-item--user button" ng-click="toggleuserMenu()">
            <img ng-src="{{user.image_url['88px']}}" alt="" class="user-menu-img"/>
            <span class="user-menu-name">{{user.name}}</span>
            <i class="fa fa-chevron-down"></i>
          </li>
        </ul>

        <div class="dropDown-wrapper">

          <div class="notifications-wrapper ui_card popup" id="notifications">

            <ul class="notifications-list">
              <li class="notification-wrapper" ng-if="notifications.length==0">
                <div class="notif-content-wrapper" style="width: 100%; text-align: center;">
                  <i>No new notifications</i>
                </div>
              </li>
              <li class="notification-wrapper" ng-repeat="notification in notifications" ng-class="{'seen':notification.seen, 'unseen':!notification.seen}">
                <div class="notif-img-wrapper">
                  <img ng-src="{{notification.user.image_url['88px']}}" alt="" class="notification-pic"/>
                </div>
                <div class="notif-content-wrapper">
                  <span class="who">{{notification.user.name}}</span>
                  <span class="did">{{notification.action}}<span ng-if="notification.action==='commented'"> on</span></span>
                  <span class="what">your {{notification.type}}</span>
                  <span class="when"><span am-time-ago="notification.created_at"></span></span>.
                </div>
                <div class="notif-action-wrapper">
                  <!--
                  <button class="notif-remove" ng-click="remove(notification); $event.stopPropagation();"><i class="fa fa-trash-o"></i></button>
                  -->
                </div>
              </li>
            </ul>
            <!--
            <button class="notif-remove-all" ng-click="removeAll(notifications)"><i class="fa fa-trash-o"></i> remove all notifications</button>
            -->
          </div>

          <div class="userMenu-wrapper ui_card popup" id="userMenu">

            <ul class="userMenu">
              <li class="userMenu-item userMenu-item--dark userMenu-item--slack">
                <a href="https://makerhunt.slack.com/messages/makers/" target="_blank" class="button button--chromeless button--slack"><i class="fa fa-slack"></i> Launch Slack</a>
              </li>
              <li class="userMenu-item userMenu--item--separator"></li>
              <li class="userMenu-item"><a href="#" class="button button--chromeless is-disabled">Your profile <small class="coming-soon">(coming soon)</small></a></li>
              <li class="userMenu-item"><a href="#" class="button button--chromeless is-disabled">Settings <small class="coming-soon">(coming soon)</small></a></li>
              <li class="userMenu-item"><a href="/logout" class="button button--chromeless">Sign out</a></li>
            </ul>

          </div>

        </div>

      </div>

    </div>

  </div>
  <div class="fixedNav-height"></div>
  <div class="container post-wrapper">

    <div class="row">
      <div class="f_main-content">
        <!--<form name="form" ng-submit="share(form)" novalidate >
          <div class="newPost-wrapper ui_card">
            <div class="newPost-inner">
              <textarea ng-model="currentPost.status" msd-elastic="\n" name="status" placeholder="Have something to share?" id="status" class="textarea-autogrow" role="textbox" required></textarea>
              <span class="error-txt hidden" ng-show="form.status.$error.required && !form.$pristine">Common', don't you have anything to share?</span>
            </div>
            <div class="newPost-actions">
              <button id="newPost-submit" class="newPost-postBtn" ng-class="{'is-disabled' : form.$invalid}" type='submit' ng-disabled='form.$invalid'><div class="outline"><div class="pulse"></div></div> Post</button>
            </div>
          </div>
        </form>-->

        <div class="main-timeline">

          <div class="ui_hero main-filter ui_card hidden">

            <ul class="main-filter--list">

              <li class="main-filter--item active"><i class="fa fa-globe"></i> Global</li>
              <li class="main-filter--item is-disabled"><i class="fa fa-slack"></i> Slack</li>
              <li class="main-filter--item is-disabled"><i class="fa fa-twitter"></i> Twitter</li>

            </ul>

          </div>

          <div class="ui_card new-items-bar-wrapper" ng-if="newPosts">
            <div class="new-items-bar">
              Show {{newPosts.length}} new post<span ng-if="newPosts.length > 1">s</span>
            </div>
          </div>

          <div mh-post post="post" context="single"></div>
              <div class="loader-height"></div>
              <div class="ui_content-loader" ng-if="!post.user">
                <div class='bar'></div>
                <div class='bar'></div>
                <div class='bar'></div>
                <div class='bar'></div>
                <div class='bar'></div>
              </div>
          <!--
          <div ng-if="loadingPosts && !noMorePosts">Loading</div>
          <div ng-if="!loadingPosts && noMorePosts">No More Posts</div>
          -->
        </div>

      </div>
      <div id="right-sidebar" class="f_right-sidebar"><!--ng-class="{'sidebar-blur': (commentsPost != null)}"-->
        <div class="ui_sideBar-wrapper">

          <div class="currentUser-card ui_card hidden">

            <div class="currentUser-card--cover">

              <div class="cover-background" style="background-image: url('{{user.twitter_profile.profile_banner_url}}');"></div>

              <div class="image-wrapper">
                <img ng-src="{{user.image_url['88px']}}" alt="" class="currentUser-img"/>
                <div class="maker-badge">M</div>
              </div>
              <div class="currentUser-meta">
                <h3 class="user-name">{{user.name}}</h3>
                <h5 class="user-username">@{{user.username}}</h5>
              </div>

            </div>
            <div class="currentUser-card--stats">

            </div>
            <div class="currentUser-card--actions">
              <button class="action-edit-profile" disabled>Edit Profile</button>
              <button class="action-logout">Logout</button>
            </div>


          </div>

          <div class="ui_card">

            <h4 class="ui_sideBar-headline">Upcoming Events</h4>

            <div class="ui_sideBar-section">

              <ul class="sideBar-list">
                <li class="sideBar-list--item" ng-repeat="event in events | filter:eventsFilter | orderBy:sortEvents">

                  <div class="img-wrapper">
                    <img ng-src="{{event.ph_profile.image_url.original}}" alt="" class="event-img"/>
                  </div>

                  <div class="info-wrapper">
                    <h4 class="event-info--headline">
                      <span class="eventName">AMA</span>
                      <span class="with">with</span>
                      <span class="eventWho">{{event.title}}</span>
                    </h4>
                    <p class="event-info--meta">
                      <span class="timestamp" am-time-ago="event.from_date"></span>
                      ·
                      <i class="fa fa-slack"></i>MakerHunt
                    </p>
                  </div>

                </li>
              </ul>

            </div>


          </div>

        </div>

      </div>
    </div>

  </div>

</div>
