#signupView {
  border: 12px solid rgba(152,211,227,1);
  min-height: calc(100vh - 24px);
  overflow: hidden;

  button{
    font-weight: 400!important;
  }

  .signup--container{
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
  }

  .envelope-container {
    max-width: 50%;
    margin: 32px auto 40px;
    position: relative;

    .envelope-background {
      width: 100%;
    }

    .envelope-letter-container {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;

      .envelope-letter {
        width: 90%;
        margin-left: 5%;
        margin-bottom: -33%;
        transition: 800ms all cubic-bezier(.40,-0.4,.40,1.40);
      }
      .letterPosTwo{
        margin-bottom: -10%;
      }
      .letterPosThree{
        margin-bottom: 10%;
      }
    }

    .envelope-bottom-container {
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      overflow: hidden;

      .envelope-bottom {
        width: 100%;
      }
    }


  }

  .header-container {
    text-align: center;

    .signup--welcomeHeader {
      font-size: 32px;
      font-weight: 300;
      color: #303030;
      letter-spacing: normal;
      line-height: 1;
      margin-bottom: 15px;
    }

    .signup--welcomeText {
      font-size: 18px;
      line-height: 26px;
      color: rgb(168,168,168);
      letter-spacing: normal;
      margin-bottom: 32px;
      margin-top: 0;
    }
  }

  .userCard {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    overflow: hidden;
    padding: 20px;
    margin-bottom: 40px;
    display: inline-block;
    position: relative;
    width: calc(100% - 40px);
    text-align: center;

    .maker-img-wrapper {
      position: relative;
      width: 33vw;
      margin: 0 auto;
      margin-bottom: 10px;
      display: inline-block;
      vertical-align: middle;
      max-width: 60%;

      .makerBadge {
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        height: 25px;
        background: #59a757;
        color: white;
        border-radius: 50%;
        text-align: center;
        font-size: 14px;
        padding: 1px;
        line-height: 25px;
      }
    }

    /* Larger than mobile */
    @media (min-width: 400px) {
      .maker-img-wrapper{
        margin-bottom: 0;
        max-width: 20%;
      }
    }

    .userCard-userImg {
      max-width: 100%;
      border-radius: 50%;
      vertical-align: bottom;
    }

    .userCard-userBio {
      margin: 0;
      font-size: 14px;
      line-height: 24px;
      color: #ccc;
      font-weight: 300;
      letter-spacing: normal;
      text-align: center;
      max-width: 100%;
      vertical-align: middle;
      display: inline-block;
    }

    /* Larger than mobile */
    @media (min-width: 400px) {
      .userCard-userBio{
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        max-width: calc(80% - 24px);
        margin-left: 20px;
      }
    }
  }

  .processDescription {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #cccccc;
    line-height: 186%;
    margin-bottom: 12px;
    clear: both;
    a{
      color: inherit!important;
      text-decoration: none!important;
      cursor: pointer!important;
    }
  }

  .checkingPHstatus {
    font-size: 20px;
    line-height: 130%;
    height: 54px;
    width: calc(100% - 6px);
    color: #ffffff;
    background: #3a4043;
    margin: 3px;
    margin-bottom: 20px;
    text-transform: none;
    position: relative;
    border: none;
    }
  .checkingPHstatus:before{
    content: '';
    position:absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    z-index: -1;
    background: #3a4043;
    border-radius: 5px;
  }
  .checkingPHstatus:after{
    content: '';
    position:absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;


    z-index: -1;
    border-radius: 4px;

    background: #3a4043;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(28,146,177,0) 0%, rgba(28,146,177,0.02) 1%, rgba(28,146,177,1) 47%, rgba(154,242,72,1) 90%, rgba(154,242,72,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(28,146,177,0)), color-stop(1%,rgba(28,146,177,0.02)), color-stop(47%,rgba(28,146,177,1)), color-stop(90%,rgba(154,242,72,1)), color-stop(100%,rgba(154,242,72,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(28,146,177,0) 0%,rgba(28,146,177,0.02) 1%,rgba(28,146,177,1) 47%,rgba(154,242,72,1) 90%,rgba(154,242,72,1) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(28,146,177,0) 0%,rgba(28,146,177,0.02) 1%,rgba(28,146,177,1) 47%,rgba(154,242,72,1) 90%,rgba(154,242,72,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(28,146,177,0) 0%,rgba(28,146,177,0.02) 1%,rgba(28,146,177,1) 47%,rgba(154,242,72,1) 90%,rgba(154,242,72,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(28,146,177,0) 0%,rgba(28,146,177,0.02) 1%,rgba(28,146,177,1) 47%,rgba(154,242,72,1) 90%,rgba(154,242,72,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001c92b1', endColorstr='#9af248',GradientType=1 );


    background-size: 180% 180%;
    -webkit-animation: border-swirl 2s ease-in-out infinite;
    -moz-animation: border-swirl 2s ease-in-out infinite;
    -o-animation: border-swirl 2s ease-in-out infinite;
    animation: border-swirl 2s ease-in-out infinite;
    @-webkit-keyframes border-swirl {
      0%{background-position:0% 50%}
      25%{background-position:50% 0%}
      50%{background-position:100% 50%}
      75%{background-position:50% 100%}
      100%{background-position:0% 50%}
    }
    @-moz-keyframes border-swirl {
      0%{background-position:0% 50%}
      25%{background-position:50% 0%}
      50%{background-position:100% 50%}
      75%{background-position:50% 100%}
      100%{background-position:0% 50%}
    }
    @-o-keyframes border-swirl {
      0%{background-position:0% 50%}
      25%{background-position:50% 0%}
      50%{background-position:100% 50%}
      75%{background-position:50% 100%}
      100%{background-position:0% 50%}
    }
    @keyframes border-swirl {
      0%{background-position:0% 50%}
      25%{background-position:50% 0%}
      50%{background-position:100% 50%}
      75%{background-position:50% 100%}
      100%{background-position:0% 50%}
    }
  }

  .nextStep{
    font-size: 20px;
    line-height: 130%;
    height: 60px;
    width: 100%;
    color: #ffffff;
    background: #3a4043;
    margin-bottom: 20px;
    text-transform: none;
    position: relative;
    border: none;
  }
  .makerBtn{
    background: #59a757;
    line-height: 60px;
  }
  .nonMakerBtn{
    background: #54b6d0;
    line-height: 60px;
  }

  .user-email{
    width: 100%;
    line-height: 143%;
    text-align: center;
    font-weight: 500;
    color: rgba(48,48,48,1);
    height: 54px!important;
    font-size: 21px;
  }

  .finish-btn{
    font-size: 20px;
    line-height: 130%;
    height: 60px;
    width: 100%;
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: none;
    position: relative;
    border: none;
  }

  .teamMembers-container{

    .signup-teamHeader {
      font-size: 32px;
      font-weight: 300;
      color: #303030;
      letter-spacing: normal;
      line-height: 1;
      margin-bottom: 15px;
      text-align: center;
      margin-top: 10px;
    }
    .signup-teamText {
      font-size: 18px;
      line-height: 26px;
      color: #a8a8a8;
      letter-spacing: normal;
      margin-bottom: 32px;
      margin-top: 0;
      text-align: center;
    }

    .teamMember {
      width: calc(50% - 27px);
      display: inline-block;
      padding: 10px;
      float: left;
      border: 1px solid #d8d8d8;
      border-radius: 4px;
      overflow: hidden;

      .image-container {
        width: calc(100% / 3);
        display: inline-block;
        overflow: hidden;
        float: left;
        .teamMember-pic {
          max-width: 100%;
          border-radius: 50%;
        }

          position: relative;

          .makerBadge {
            position: absolute;
            top: 0;
            right: 0;
            width: 25px;
            height: 25px;
            background: #59a757;
            color: white;
            border-radius: 50%;
            text-align: center;
            font-size: 14px;
            padding: 1px;
            line-height: 25px;
          }
      }
      .info-container {
        width: calc(100% / 1.5 - 10px);
        display: inline-block;
        float: left;
        padding-left: 10px;

        .teamMember-name {
          font-size: 18px;
          margin-bottom: 0px;
        }
        .teamMember-username {
          font-size: 14px;
          color: #a8a8a8;
          margin-bottom: 5px;
        }
      }

      .invite-teamMember {
        width: 100%;
        display: inline-block;
        margin-top: 15px;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        color: #ffffff !important;
        line-height: 34px;
        padding: 0;
        background: #55acee;
        position: relative;
        font-weight: 300;

        .fa{
          line-height: 34px;
        }
      }


    }
    .teamMember:nth-child(odd){
      margin: 0 5px 5px 0;
    }
    .teamMember:nth-child(even){
      margin: 0 0 5px 5px;
    }



  }

  #stepTwo{
    text-align: center;
  }

  .error-txt{
    color: red;
  }

  .goHomeBtn {
    font-size: 20px;
    height: 60px;
    width: 100%;
    color: #ffffff!important;
    background: #3a4043;
    margin-bottom: 20px;
    text-transform: none;
    position: relative;
    border: none;
    display: block;
    line-height: 60px;
    text-align: center;
    text-decoration: none!important;
    font-weight: 400!important;
    border-radius: 4px;
  }


}

.intercom-container{
  display: none!important;
}

.teamMembers-container {
  display: inline-block;
}

