
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

*, ::after, ::before {
  zoom: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

body{
  margin: 0;
}
img{
  vertical-align: bottom;
}
button{
  display: inline-block;
  margin: 0 auto;
}
.hidden{
  display:none!important;
}
.emoji {
  max-height: 15px;
  vertical-align: baseline;
}
.button{
  display: inline-block;
  position: relative;
  height: 38px;
  padding: 0 16px;
  outline: 0;
  color: rgba(0,0,0,0.44);
  background: rgba(0,0,0,0);
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.15);
  vertical-align: bottom;
  white-space: nowrap;
  text-rendering: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  border-radius: 999em;
  transition: 100ms background-color,100ms border-color,100ms color;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
  &:hover{
    color: rgba(0,0,0,0.6);
    border-color: rgba(0,0,0,0.3);
  }
}


/**
 * Font Includes
 */
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,500,700);

/**
 * Typography
 */

html, body, a, button, span{
  font-family: 'Lato', sans-serif!important;
}
body{
  //hack to get safari to be nice to css animations (fuck safari, seriously!)
  -webkit-transform: translateZ(0);
}


// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'directives/modal/modal.scss';
@import 'main/main.scss';
@import 'post/post.scss';
@import 'signup/signup.scss';
@import 'timeline/timeline.scss';
// endinjector
