#mainView{

  .makerFaces{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    /* Mobile first queries */

    .makerFaces-face{
      display: inline-block;
      width: calc(100% / 6);
    }

    /* Larger than mobile */
    @media (min-width: 400px) {
      .makerFaces-face{
        width: calc(100% / 6);
      }
    }


    /* Larger than tablet */
    @media (min-width: 750px) {
      .makerFaces-face{
        width: calc(100% / 10);
      }
    }

    /* Larger than desktop */
    @media (min-width: 1000px) {
      .makerFaces-face {
        width: calc(100% / 12);
      }
    }
  }
  .makerFaces:after{
    position: absolute;
    content: '';
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(68, 94, 87, 0.85);
  }

  nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
    z-index: 2;

    ul{
      margin: 0;
      padding: 0;

      li{
        padding: 20px 5px;
        margin: 0;
        text-decoration: none;
        list-style: none;
        display: inline-block;
        text-transform: uppercase;
        a{
          font-weight: 400;
          font-size: 15px;
          line-height: 150%;
          color: rgba(255,255,255, .7);
          text-decoration: none!important;

          &:hover, &:active, &:focus{
            color: rgba(255,255,255,1);
            border-bottom: 1px solid;
          }
        }
      }
    }
  }


  header{
    text-align: center;
    position: relative;
    height: calc(100vw / 12 * 5);

    .logo{
      margin-top: 10rem;
      font-weight: 700;
      font-size: 75px;
      color: rgba(255,255,255,1);
      margin-bottom: 16px;
      line-height: 1;
    }
    .tagline{
      line-height: 134%;
      font-size: 25px;
      margin-bottom: 48px;
      color: rgba(255,255,255,1);
      font-weight: 300;
    }


    /* Larger than tablet */
    @media (min-width: 750px) {
      .logo{
        margin-top: 10rem;
        font-size: 75px;
      }
    }

    /* Larger than desktop */
    @media (min-width: 1000px) {
      .logo {
        margin-top: 4rem;
      }
    }
    /* Even Larger than desktop */
    @media (min-width: 1200px) {
      .logo {
        margin-top: 15rem;
        font-size: 100px;
      }
      .tagline{
        font-size: 30px;
      }
    }


    .btn-requestInvite{
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;
      color: rgba(255,255,255,1);
      max-width: 460px;
      width: 90%;
      height: 66px;
      background: rgba(84, 182, 208, 1);
      border: 1px solid rgba(42, 111, 130, 1);
      text-transform: none;
      outline: none!important;
      margin-bottom: 32px;

      &:hover, &:active, &:focus{
        background: rgb(84, 169, 195);
        border: 1px solid rgb(43, 96, 115);
      }
    }

    .login-with-PH{
      font-weight: 700;
      font-size: 16px;
      line-height: 119%;
      color: rgba(188, 225, 288, 1);
      text-decoration: none!important;

      &:hover, &:active, &:focus{
        border-bottom: 1px solid;
      }
    }

  }
  header:after{
    background: rgba(68, 94, 87, 0.50);
    z-index: -2;
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
  }

}
