<div id="mainView">


  <div class="makerFaces">
    <img preload id="{{maker.id}}" class="makerFaces-face animated" ng-src="{{maker.profile.image_192}}"
         ng-repeat="maker in makers" alt=""/>
  </div>

  <nav class="hidden">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <ul>
            <li><a href="#">Contributors</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <header>

    <div class="container">
      <div class="row">
        <div class="offset-by-two eight columns">
          <h1 class="logo">Maker Hunt</h1>

          <h3 class="tagline">The slack chat for driven product makers from the Product Hunt community</h3>

          <a href="/login" target="_self" class="btn-requestInvite">Request Invite</a>

          <a href="/login" target="_self" class="login-with-PH hidden">Login with ProductHunt</a>
        </div>
      </div>
    </div>

  </header>

  <section class="main">

    <div class="container">
      <div class="row">
        <div class="offset-by-two eight columns">

          <h2 class="amas-headline">Our Maker AMA's</h2>

          <h4 class="amas-tagline">From product and business to work-life balance,<br/>come ask the makers anything</h4>

        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <div class="switch-wrapper">
              <button class="btn-amas btn-amas--upcoming active" data-ng-class='{"active": state=="upcoming"}' ng-click='state = "upcoming";'>upcoming</button><!--
              --><button class="btn-amas btn-amas--previous"data-ng-class='{"active": state=="previous"}' ng-click='state = "previous";'>previous</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="offset-by-one ten columns">
          <div class="amaList">

            <div class="ama-wrapper" ng-repeat="event in events | filter:eventsFilter | orderBy:sortEvents:(state=='previous')">

              <div class="row">
                <div class="six columns">
                    <h5 class="ama--timestamp">{{event.from_date | amDateFormat:"dddd, MMMM Do YYYY @ h:mma"}}</h5>
                </div>
                <div class="six columns">

                 <div class="action-menu" ng-if="state==='upcoming'">

                   <a ng-href="https://twitter.com/intent/tweet?text=.@{{event.username}} is having an AMA on {{event.from_date | amDateFormat:'dddd, MMMM Do YYYY @ h:mma'}} with makerhunt.co" class="action-item twitter"><i class="fa fa-twitter"></i></a>
                   <a target="_blank" ng-href="https://www.facebook.com/dialog/share?app_id=673766526078470&display=popup&href=http://makerhunt.co&redirect_uri=http://makerhunt.co" class="action-item facebook hidden"><i class="fa fa-facebook-official"></i></a>
                   <div class="calendar-wrapper">
                      <a ng-href="#" ng-click="openCalendarOptions(event);" class="action-item calendar"><i class="fa fa-calendar-o"></i></a>
                      <div class="calendar-options" ng-show="openCalendar === event">
                        <ul class="calendar-options-list">
                          <li class="calendar-option-item">
                            <a ng-href="data:text/calendar;charset=utf-8,%0ABEGIN:VCALENDAR%0D%0ABEGIN:VEVENT%0AADTSTAMP:{{event.from_date | utc | amDateFormat:'YYYYMMDDTHHmmss'}}Z%0ADTSTART:{{event.from_date | utc | amDateFormat:'YYYYMMDDTHHmmss'}}Z%0ADTEND:{{event.till_date | utc | amDateFormat:'YYYYMMDDTHHmmss'}}Z%0ASUMMARY:AMA with {{event.ph_profile.name}}%0AEND:VEVENT%0AEND:VCALENDAR" download='event.ics' target="_blank">iCal</a>
                          </li>
                          <li class="calendar-option-item">
                            <a ng-href="http://www.google.com/calendar/event?action=TEMPLATE&text=AMA with {{event.ph_profile.name}}&dates={{event.from_date | utc | amDateFormat:'YYYYMMDDTHHmmss'}}Z/{{event.till_date | utc | amDateFormat:'YYYYMMDDTHHmmss'}}Z&details={{event.ph_profile.headline}}&location=Makerhunt&trp=false&sprop=&sprop=name:" target="_blank">Google Calendar</a>
                          </li>
                        </ul>
                      </div>
                   </div>


                 </div>

                </div>
              </div>


              <div class="ama">

                <div class="row">
                  <div class="twelve columns">

                    <!--<div class="ama--pic--wrapper">-->
                    <img class="u-max-full-width ama--pic" ng-src="{{event.ph_profile.image_url['88px@3X']}}" alt="@{{event.username}}"/>
                    <!--</div>
                    <div class="ama--content--wrapper">-->

                    <h2 class="ama--maker-name">{{event.ph_profile.name}} <small class="ama--maker-username"><a ng-href="https://twitter.com/{{event.username}}" target="_blank">@{{event.username}}</a></small></h2>

                    <p class="ama--description">{{event.description}}</p>


                    <!--</div>-->
                    <div class="maker-of--wrapper">
                      <h6 class="ama--maker-headline" ng-show="event.ph_profile.maker_of.length">Maker</h6>
                      <ul class="maker-of-list">
                        <li class="maker-of-list--item" ng-repeat="product in event.ph_profile.maker_of | filter: productsFilter">
                          <a target="_blank" ng-href="{{product.discussion_url}}">{{product.name}}</a>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>

              </div>




            </div>

          </div>
        </div>
      </div>
    </div>

  </section>





</div>
